[2021-03-04 20:16] git4rk opened #1 "Remove DB2 and Elastic search setup panels"

[2021-03-04 20:18] git4rk opened #2 "Add params for IBMId and password"
- IBMId and password will be used to validate WAS entitlement
- Password should be encrypted

[2021-03-04 20:21] git4rk opened #3 "Add link to view WebSphere License"
License URL: https://www.ibm.com/software/sla/sladb.nsf/searchlis/?searchview&searchorder=4&searchmax=0&query=%225724-H88%22

[2021-03-04 20:24] git4rk opened #4 "Display the WAS version being installed"
Currently it only displays 9.0.5:
![image](https://user-images.githubusercontent.com/24283162/110025624-9ac36980-7cfd-11eb-9e23-f2434d89fe46.png)

We should display the version being installed, like 9.0.5.7

[2021-03-04 20:26] git4rk opened #5 "Display chargeable components and cost for the deployed instance"

[2021-03-04 20:27] git4rk opened #6 "Allow customer to set deployment name"
Default deployment name is not user friendly:
![image](https://user-images.githubusercontent.com/24283162/110026031-2210dd00-7cfe-11eb-8909-1a979be5fdf7.png)

[2021-03-04 20:28] git4rk opened #7 "Review the param names, description/help, default values, etc."

[2021-04-27 02:10] edburns opened #62 "Create branch to hold code currently in master, but not intended for MVP release"
The initial code donation from Microsoft included more features than what we are targeting for MVP.  To simplify the repository and ease code review, @majguo  suggested we move the portions of the code that are not targeted for MVP to another branch.

This issue requests @git4rk  to create another branch, `service-integrations`, from `master` at the point in time right after the initial donation,

[2021-04-28 02:19] edburns commented on #3
@git4rk can you please assign this to me.

[2021-04-28 02:19] edburns commented on #3
We will put a text box in the first page of the UI with a **learn more** link to the aka.ms URL that redirects to the above license URL.

[2021-04-28 02:23] edburns commented on #4
@git4rk I'd like to push back on this based on my experience in developing the WLS offers.  We found it was best to be as generic as possible with version numbers in partner center text, but we can be as specific as we want with the text in `createUiDefinition.json`.  Please consider this input and re-evaluate whether or not you still want us to be be specific in the Partner Center offer text.

[2021-04-28 02:29] edburns commented on #5
@git4rk for the MVP offer the only pricing information we need is the VM size selector, which already has a price column based on the VM size.  Furthermore, I believe the **Review + create** UI allows price transparency before clicking the **Create** button.

[2021-04-28 02:35] edburns commented on #6
This is not user customizable.  This value comes from what we put in the Partner Center as the **Offer ID**.

[2021-04-28 03:08] majguo commented on #1
@git4rk Could you pls assign the issue to me?

[2021-04-28 03:08] majguo commented on #2
@git4rk Could you pls assign the issue to me?

[2021-04-28 23:29] edburns opened #8 "Create branch to hold code currently in master, but not intended for MVP release"
The initial code donation from Microsoft included more features than what we are targeting for MVP.  To simplify the repository and ease code review, @majguo  suggested we move the portions of the code that are not targeted for MVP to another branch.

This issue requests @git4rk  to create another branch, `service-integrations`, from `master` at the point in time right after the initial donation,

[2021-04-28 23:30] edburns commented on #8
Hello @git4rk , I was wrong to create this issue in the cluster repo. It belongs in this one.  Consequently can you please delete the `service-integrations` branch from that one and create one here, also from the first commit after we resolved the signing off issues?

I'm sorry about the re-work.  I had forgotten we opted to have issue trackers in each repo rather than one in the base image only a

[2021-04-28 23:32] edburns commented on #8
Hello @git4rk , I was wrong to create this issue here. It belongs in [the cluster repo](https://github.com/WASdev/azure.websphere-traditional.cluster/issues/8). Consequently can you please delete the `service-integrations` branch from here and create one in the cluster repo, also from the first commit after we resolved the signing off issues?

I'm sorry about the re-work. I had forgotten we opted

[2021-04-29 12:38] git4rk commented on #8
Created the branch with base code: https://github.com/WASdev/azure.websphere-traditional.cluster/tree/service-integrations

[2021-04-29 12:38] #8 closed

[2021-04-29 18:07] git4rk commented on #4
@edburns that sounds good. Should I keep it open for createUiDefinition.json change?

[2021-04-29 18:09] git4rk commented on #6
Closing as a limitation.

[2021-04-29 18:09] #6 closed

[2021-05-06 21:36] git4rk opened #10 "IP addresses for DMgr and Nodes"
@majguo @edburns Can you please investigate this.
Currently all VMs have public IP. From security perspective, we should have:
- DMgr with public IP, and access to this VM should be allowed on selected ports
- Nodes with private IPs.

[2021-05-06 21:37] git4rk opened #49 "Make image CIS Benchmark compliant"
@majguo @edburns
What will it take to make the image CIS benchmark compliant: https://www.cisecurity.org/cis-benchmarks/cis-benchmarks-faq/ ?

[2021-05-10 14:33] git4rk opened #11 "Update pom.xml with official VM base image"
Reference: https://github.com/WASdev/azure.websphere-traditional.cluster/pull/9/files#r623571309

- Update pom.xml with official VM base image once it is published
- For future, is it possible to pass this information dynamically, so that we do not have to update and publish this code, just to change the image id.

[2021-05-10 14:35] git4rk opened #12 "(Post MVP) Use wasservice.sh to create WebSphere Service"
Reference: https://github.com/WASdev/azure.websphere-traditional.cluster/pull/9/files#r627034128

[2021-05-10 15:31] majguo commented on #10
@git4rk OK. Let's track this issue in a separate PR, instead of the existing PR #9.

[2021-05-10 15:35] git4rk commented on #7
@majguo Sure, sounds good. Please remove this issue from the PR. Please attach a word doc to this issue and I will assign this issue to our doc person. Thanks

[2021-05-10 15:41] majguo commented on #7
@git4rk Issue removed from the PR. Will work on the word doc containing screenshots for content team review tomorrow.

[2021-05-11 11:52] #1 closed, assigned to majguo

[2021-05-11 11:52] #2 closed

[2021-05-11 23:54] helyarp commented on #7
Hi, here is my ID (doc) review of the Visible and modifiable content of tWAS cluster offer. My comments are suggested changes, not mandatory. I try to simplify and clarify text.
[vsi_azure_ui_review_comments.docx](https://github.com/WASdev/azure.websphere-traditional.cluster/files/6462544/vsi_azure_ui_review_comments.docx)

[2021-05-14 06:32] majguo commented on #7
Hello @helyarp Thanks for your review. I'm just back to work today and will take a look.

[2021-05-17 02:08] #10 closed

[2021-05-17 20:24] git4rk opened #15 "Rename wasadmin to wsadmin"
The WebSphere Administrator's default id is set to `wasadmin`.
I checked with few WebSphere experts internally and they mentioned that customers generally use `wsadmin`. This is what most of the WebSphere documents use as well.

Please change the default id from `wasadmin` to `wsadmin`.

Related issue for image repo: https://github.com/WASdev/azure.websphere-traditional.image/issues/22

[2021-05-17 21:24] #7 closed

[2021-05-18 02:30] edburns commented on #5
Can we close this one, @git4rk ?

[2021-05-18 02:32] edburns commented on #4
Let's leave the version information in the Marketplace offer.  Please close this one @git4rk .

[2021-05-18 15:07] #15 closed

[2021-05-18 15:08] #4 closed

[2021-05-18 15:09] #5 closed

[2021-05-18 16:07] git4rk commented on #3
Reopening to get an ibm.biz/ URL

[2021-05-19 10:53] majguo opened #17 "The cluster is not fully started after deployment"
After opening specific ports instead of disabling `firewalld` service, I found that the following issues:
* The static cluster consisting of more than 1 member can't be started.
* No cluster member of a dynamic cluster is automatically started;

[2021-05-20 03:24] majguo commented on #17
Re-open the issue as PR #18 only fixed the 1st part of the issue. There will be another issue to fix the 2nd part of the issue later.

[2021-05-20 18:04] git4rk opened #20 "Change the offering name"
Change the offering name from:
IBM WebSphere Server ND V9.0.5 Cluster
to:
IBM WebSphere `Application` Server ND V9.0.5 Cluster

![image](https://user-images.githubusercontent.com/24283162/119027267-2602e180-b974-11eb-9ecc-86abd0f78d68.png)

[2021-05-21 02:18] git4rk commented on #20
@edburns Please address this issue while creating/updating the cluster offer in partner center.

[2021-05-21 03:44] #17 closed

[2021-05-21 14:32] git4rk opened #22 "VM cost is not shown in $"
VM cost is not shown in $. Is that due to some setting on my account or in the code?

![image](https://user-images.githubusercontent.com/24283162/119153994-bf3b0200-ba1f-11eb-91a6-63308e635dc6.png)

[2021-05-21 16:25] edburns commented on #22
Hello @git4rk , I expect this is due to the locale settings. It is certainly *not* something we can declare in `createUiDefinition`. I suggest you log in to the portal using a private browsing tab and observe the behavior.

[2021-05-21 17:58] git4rk commented on #22
@edburns Its interesting that in private browser I see different set of Directories and O do not see `IBM-MSFT-TEAM`
- **private window**
![image](https://user-images.githubusercontent.com/24283162/119179037-72b1ef80-ba3c-11eb-8d0f-c72acc1f14db.png)

- **non-private window**
![image](https://user-images.githubusercontent.com/24283162/119179106-89f0dd00-ba3c-11eb-991b-93efbbeb5410.png)

[2021-05-21 23:58] majguo opened #56 "`listAvailablePackages` returns `No packages were found`"
Today when I'm testing the latest tWAS cluster testing offer using Ed's entitled IBMid, it always failed. I further triaged the issue and found that the command used to list available packages doesn't run as expected, which caused the entitlement check failed:
[code]
Command output for listing available packages:
[code]
I run the above command both in a vm deployed on Azure and my local laptop, wi

[2021-05-24 14:09] edburns opened #23 "Wrangle GO NO-GO for Build 2021 release"
GO NO-GO CRITERIA for offer with Preview creation at “May 24, 2021, 12:52:34 PM UTC
Preview creation.”
I suggest we need a GO NO-GO from the following stakeholders before clicking Go live.
@rk
@charters
@Reza Rahman (Microsoft)
@shane-orourke
@Ed Burns (Microsoft)

[2021-05-24 14:20] rk commented on #23
@edburns If you review my profile, you'll find out that I'm not a stakeholder.

[2021-05-24 14:31] edburns commented on #20
Fixed.  Please close this. @git4rk

[2021-05-24 16:06] gcharters opened #24 "I need to know what version I'm going to get to check the license"
When I provisions a tWAS cluster using the Azure marketplace offer, it asks me to accept the terms of the IBM WAS license and the link points me to a list of licenses.  The offer does not tell me which version it is going to provision and therefore I do now know which license to check.

I think either the link needs to point to a specific license or there needs to be an indication as to which vers

[2021-05-25 02:47] git4rk opened #25 "Error message is not clear when Number of VMs is 1"
![image](https://user-images.githubusercontent.com/24283162/119431909-6a2e1300-bce1-11eb-8aa9-531adfa6d36e.png)

[2021-05-25 19:20] edburns opened #27 "Constrain characters in `createUiDefinition` for IBM administrator password"

[2021-05-25 19:20] edburns commented on #27
Please assign this to @edburns .

[2021-05-26 00:52] git4rk opened #28 "Resource Group is created without going thru the deploy/create process"
**Steps to recreate**
- Launch the portal: https://portal.azure.com/#create/ibm-usa-ny-armonk-hq-6275750-ibmcloud-aiops.2021-04-08-twas-cluster-previewcluster
- Use a new Resource group and go through remaining panel
- Do not click "Create". Cancel the deploy
- Resource Group is created without any resource:
![image](https://user-images.githubusercontent.com/24283162/119586259-54c8ef80-bd9a-11eb-9

[2021-05-26 01:04] git4rk opened #29 "Password rule for WAS Admin user (wsadmin) should allow more special chars"
- When I used a password with special chars like `$ ! _ /` the deploy/login failed
- Rule was updated in CreateUIDefinition.json to restrict special chars:
    - `Password must be at least 12 characters long and not contain any of the following characters: !#$&*/?^`
- We need to allow most of these special chars

[2021-05-26 01:51] majguo commented on #28
@git4rk This is not controlled by our offer, instead, it's Azure to create a new resource group if you choose to deploy using a new resource group and completed step "Review + Create". You can try to create other kind of Azure resource to verify.

[2021-05-26 02:07] majguo commented on #25
Good catch. I suggested the following validation message:

- `The lower limit is 2 because this offer cretes a cluster with 1 deployment manager and at least 1 worker node. The upper limit is 5 because this offer uses a single storage account.`

[2021-05-26 02:09] majguo commented on #27
@edburns @git4rk
I double checked the regex used in WebLogic administrator password, it's:
[code]
As you can see, special characters are not allowed. So let's also use the same regex in WebSphere administrator password, to quickly fix the issue.

[2021-05-26 02:21] majguo commented on #29
@git4rk @edburns
As we just agreed in the Slack channel, let's use the same regex used in WebLogic administrator password:
[code]
As you can see, special characters are not allowed. So let's follow the same pattern to quickly fix the issue.

[2021-05-26 02:34] edburns commented on #25
I endorse @majguo 's comment https://github.com/WASdev/azure.websphere-traditional.cluster/issues/25#issuecomment-848401260

[2021-05-26 02:38] edburns commented on #28
I endorse the explanation from @majguo  in this comment https://github.com/WASdev/azure.websphere-traditional.cluster/issues/28#issuecomment-848396103

[2021-05-26 02:39] edburns commented on #28
@git4rk  if you want us to continue to investigate this particular issue, we will take it up with the Portal team.

[2021-05-26 02:40] edburns commented on #29
The plan of record is to fix it using the simple regex shown by @majguo  in [this comment](https://github.com/WASdev/azure.websphere-traditional.cluster/issues/29#issuecomment-848406169) but resolve it after MVP release.

[2021-05-28 01:39] git4rk commented on #28
@edburns @majguo Thanks. I will close this.

[2021-05-28 01:39] #28 closed

[2021-05-28 01:45] git4rk commented on #25
Thanks @majguo.  Message looks good. Please fix the typo (`cretes` -> `creates`) in the actual message.

Related question: When we implement the feature to "add node to existing cluster", will this limit still apply? So, customer can only have maximum of 4 worker nodes, ever?

[2021-05-28 01:47] git4rk commented on #23
@edburns I think you meant @git4rk, not `@rk`.

[2021-05-28 01:48] #20 closed

[2021-05-31 04:54] majguo commented on #25
@git4rk The message is refined by @edburns so the typo you mentioned has already gone in PR #21 .
For your related question, I think this limit doesn't apply any longer, as adding additional node will be a new deployment which can use new storage account.

[2021-05-31 04:58] majguo commented on #11
So far we only have one VM base image, so I think current implementation is good enough.
Once we have multiple VM image versions, we can parameterize the image reference in `createUiDefinition.json` so that user can choose the version they want to deploy.

[2021-05-31 05:13] majguo commented on #22
@git4rk Maybe you can re-try with a different browser (e.g., Firefox, Chrome) with locale settings as `en-us`.

[2021-06-02 12:31] #3 closed

[2021-06-02 12:31] #23 closed

[2021-06-02 12:33] #11 closed

[2021-06-02 12:35] git4rk commented on #24
The ibm.biz short URL will point to specific WAS version license.

[2021-06-02 12:35] #24 closed

[2021-06-02 12:36] #25 closed

[2021-06-02 12:36] #27 closed

[2021-06-02 23:01] git4rk opened #30 "Create document(wiki page) to update the solution for next WAS fixpack"
The document should contain following information:
- Updating the image
    - Which file to update for WAS version?
    - How to run CI/CD?
    - How to test the image, what testcases to run?
    - How to publish the image in marketplace and who can do it?
    - Do we need to update the solution every time we do the image update?
- Updating and publishing the solution code
    - This section shoul

[2021-06-02 23:02] git4rk opened #31 "How to track the usage of WAS Cluster?"
Once the solution is live for public, how can we get information about its usage and customer feedback?

[2021-06-04 13:58] edburns opened #32 "Post MVP-release offer verbiage updates"
* Alasdair wanted a new image
* Graham had some concerns about the links
* Graham had some concerns about the overview section
* Domain Manager vs. Deployment Manager

https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1338327

[2021-06-06 02:21] git4rk opened #33 "Create a troubleshooting doc for developers"
What are the possible issues while deploying the solutions and how IBM/Microsoft developer will debug and fix it?

[2021-06-06 02:23] git4rk opened #34 "Create a troubleshooting doc for customers"
- What are the possible error messages customers will see and what will they do next?
- For example, if the IBMId is unentitled, how can customer check it (it should also be added to the form help), what are they supposed to do next (e.g., update IBMId and redeploy, or delete and deploy again, etc.)

[2021-06-06 02:24] git4rk opened #35 "Improve error message for unentitled IBMId"
This message gets displayed when IBMId is not entitled. We should improve the error message to indicate what it means.
![image](https://user-images.githubusercontent.com/24283162/120910406-c895b280-c64c-11eb-8617-669555838895.png)

[2021-06-06 02:25] git4rk opened #36 "Entitlement check should be done as part of form validation"
When IBMId is unentitled, deployment fails after all the artifacts are created. We should find a way to perform entitlement check before user clicks on “Create” or before any resources are created.

[2021-06-06 02:30] git4rk commented on #32
@edburns I can not access [this link](https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1338327) and request access link is disabled. Can you please grant me access.
![image](https://user-images.githubusercontent.com/24283162/120910515-920c6780-c64d-11eb-9232-4483ade385eb.png)

[2021-06-07 01:33] edburns opened #54 "Reorganize repo to accommodate base image creation for IHS"
Restructure this repo so that it has two top level directories:
* **twas** — this is the existing content for the twas base image.
* **ihs** — this is new content for the ihs base image

[2021-06-07 01:37] edburns opened #51 "Create Azure Marketplace Entry for IHS base image"

[2021-06-07 01:38] edburns opened #37 "Modify ARM template to stand up VM based on IHS, use as Load Balancer"
Depends on [gh-image-28](https://github.com/WASdev/azure.websphere-traditional.image/issues/28).

[2021-06-07 01:39] edburns opened #38 "Make it so only the IHS server has a public IP"

[2021-06-07 01:40] edburns opened #39 "Make it possible to have <= 20 nodes in the cluster"
Hello @git4rk can you please define an upper bound for the number of nodes in the cluster?

[2021-06-07 14:32] git4rk commented on #22
@majguo @edburns I am unable to test it since when I tried Safari I do not even see the `IBM-MSFT-Team` directory:
![image](https://user-images.githubusercontent.com/24283162/120952399-ee888900-c718-11eb-98d0-c983db2b3f3b.png)
Not sure what causes this but most of the time this is what I see on Chrome also (even in private mode).

Ed Spring also sees cost displayed in Pound. Could this be a settin

[2021-06-07 20:17] git4rk commented on #39
@edburns User can only select from dropdown or they can also type it in?

[2021-06-07 22:28] edburns commented on #37
* IHS and DMgr will be on separate VMs
* IHS VM will also have Plugin and WCT
* IHS and DMgr will have public IP. Nodes will have private IP
* All the VMs will be in the same network

[2021-06-08 02:08] majguo commented on #22
@git4rk Honestly I don't know if this behavior is controlled by `IBM-MSFT-Team` directory. As it's related to Azure portal instead of something we're able to control in the offer, I suggest you reach out to [Azure Help + support](https://portal.azure.com/?feature.customportal=false#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview).

[2021-06-08 07:02] majguo commented on #37
I think it's reasonable that both IHS and DMgr have public IP, as IHS provides the access to the deployed application and DMgr provides the access to the admin web console. However, Issue #38 asks for `Make it so only the IHS server has a public IP`, which conflicts with this issue. @edburns & @git4rk Could you pls clarify what's the final requirement?

[2021-06-08 16:17] git4rk commented on #37
@majguo IHS and DMgr need to have public IP. @edburns https://github.com/WASdev/azure.websphere-traditional.cluster/issues/38 can be closed.

[2021-06-08 16:19] edburns opened #40 "Enhance text in `createUiDefinition` to aid people getting an entitlement."
The current text in the `createUiDefinition.json` regarding entitlement says:

This issue requests that we enhance the text:
* To make it very clear that the deployment will fail if the IBMid is not entitled.
* Give the user some guidance on how to go about getting an entitlement.

[2021-06-08 21:56] #38 closed

[2021-06-09 07:23] majguo commented on #37
@git4rk My understanding is that IHS, Plugin and WCT don't need entitlement check. Is that correct?

[2021-06-09 14:02] git4rk commented on #37
@majguo IHS install also requires IBMId. Please install version 9.0.5 but do not hardcode the specific version. IM will automatically install the latest version.

[2021-06-09 14:24] git4rk commented on #22
I believe the currency is shown in Pound because of `CURRENCY` setting in the [subscription](https://portal.azure.com/#@wasmsft.onmicrosoft.com/resource/subscriptions/1970354a-e600-4847-8848-89ea15c7a8c3/properties), not controlled by the browser setting:
![image](https://user-images.githubusercontent.com/24283162/121373089-cb262f80-c90c-11eb-9565-1e4887864727.png)

[2021-06-09 18:09] git4rk commented on #39
@edburns I discussed this with Alasdair. 20 nodes is fine and we should not go above 50.

[2021-06-11 12:34] git4rk commented on #22
@majguo Thanks for opening the support ticket to get clarification if the currency setting can be changed at the user level or not: https://portal.azure.com/#resource/subscriptions/1970354a-e600-4847-8848-89ea15c7a8c3/providers/microsoft.support/supporttickets/2106110060002626

[2021-06-16 02:32] majguo commented on #22
@git4rk The support confirmed that the currency setting **can't** be changed at the user level, see the response from the screenshot below:
![image](https://user-images.githubusercontent.com/10357495/122149140-2ec0d780-ce8e-11eb-93dc-d8dd2dae05e9.png)

[2021-06-16 17:53] edburns commented on #36
Hello @git4rk I agree this is important, but I request permission to prioritize this work until the following big ticket tasks are completed, in priority order:
1. TWAS-ND in Marketplace with IHS Load Balancer support
2. MVP offer for Open/WebSphere Liberty on Azure RedHat OpenShift in Marketplace

[2021-06-17 13:09] git4rk commented on #22
@majguo Thanks.

[2021-06-17 13:09] #22 closed

[2021-06-17 15:45] git4rk commented on #36
@edburns As discussed in slack, we are fine with the proposed prioritization.

[2021-06-18 14:47] edburns opened #41 "Update Azure Marketplace entry to have video"

[2021-06-18 14:47] edburns commented on #41
Please assign this to me, @git4rk .

[2021-06-18 17:59] edburns opened #50 "Add link to other repo(s) in top level README"

[2021-06-18 18:03] edburns opened #42 "Add link to other repo(s) in top level README"

[2021-06-18 18:03] edburns commented on #42
Please assign this to me.

[2021-06-18 18:30] git4rk opened #43 "Deploy fails for IBMId with some special chars in password"
- Cluster deploy is failing with unentitled IBMid.
-
![image](https://user-images.githubusercontent.com/24283162/122602940-a125e900-d041-11eb-89b1-ac6a31b578a2.png)

- When I check /var/log/cloud-init-was.log on DMgr, this is all I see:
[code]

- My IBMid is entitled, since `./imcl listAvailablePackages -cPA -secureStorageFile mycreds | grep 9.0.5008` from my machine works.
- Looks like it is fail

[2021-06-19 00:00] majguo commented on #43
Good catch @git4rk. To fix the issue, I think we need to know the rules for IBMid and its password. Can you pls share about the rules?

[2021-06-21 02:16] majguo commented on #43
It's interesting that rules for creating the new IBMid and editing the existing IBMid are different:

![pwd rules when editing the exsiting IBMid](https://user-images.githubusercontent.com/10357495/122698301-a1102e00-d279-11eb-8def-0faa29d290e6.png)
![pwd rules when creating new IBMid](https://user-images.githubusercontent.com/10357495/122698304-a2415b00-d279-11eb-9fe6-7eb0d877e27f.png)

However,

[2021-06-21 16:28] #42 closed

[2021-06-22 02:11] edburns opened #46 "Update `mainTemplate.json` to use `9.0.2021052001` instead of `latest` for version in `imageReference`"
Consider this JSON

[code]

Change `latest` to `9.0.2021052001`.

This value is from

[code]

[2021-06-22 02:39] #46 closed

[2021-06-22 13:11] majguo opened #48 "Manual configure plugins in an IHS VM with scripts so that IHS can route HTTP requests to tWAS cluster members"
Manually configure plugins in the IHS VM with scripts so that IHS can route HTTP requests to tWAS cluster members, given the following topology of VMs (see an [example of setup](https://ibm-cloud.slack.com/archives/G010BB252NA/p1624366629012100) from the Slack channel thread):
* 1 deployment manager
* 2 cluster members
* 1 IHS server with plugins and WCT

Once the manual configuration is done and

[2021-06-22 16:17] edburns commented on #31
Two approaches

- Partner Center, can demonstrate.
- Micrsosoft internal BI, can share sample data.

[2021-06-22 16:25] edburns opened #52 "Create CI/CD pipeline to cause IHS base image to be created"
cause a new CI/CD job to be created along side the existing one that builds the base image for ihs.

* Rename existing YAML file to be **twas**
* Create a new YAML called **ihs**

[2021-06-22 16:25] #52 closed

[2021-06-22 16:25] edburns opened #53 "Populate the ihs subdirectory with the necessary logic to create an ihs base image"
## IHS repo location and offering id:

http://www.ibm.com/software/repositorymanager/com.ibm.websphere.IHS.v90

com.ibm.websphere.IHS.v90

## Plugin repo and offering ID

http://www.ibm.com/software/repositorymanager/com.ibm.websphere.PLG.v90

com.ibm.websphere.PLG.v90

## Documentation

https://www.ibm.com/docs/en/was/9.0.5?topic=environment-web-server-plug-ins-installation-information

[2021-06-22 16:25] #53 closed

[2021-06-22 16:26] #54 closed, assigned to nobody

[2021-06-22 16:26] zhengchang907 opened #55 "Add steps to pipeline to validate the installations"
Currently the pipeline only check the user's entitlement, we'll need more steps to verify that:
* For entitled users, the installations are not deleted.
* For unentitled users, the installations are deleted.

This can be verified by checking the expected directories exist.

[2021-06-22 16:26] #55 closed

[2021-06-22 16:26] git4rk opened #57 "Rename wasadmin to wsadmin"
The WebSphere Administrator's default id is set to `wasadmin`.
I checked with few WebSphere experts internally and they mentioned that customers generally use `wsadmin`. This is what most of the WebSphere documents use as well.

Please change the default id from `wasadmin` to `wsadmin`.

[2021-06-22 16:26] #57 closed

[2021-06-22 16:27] edburns opened #58 "Obtain values for secrets needed to run pipeline"
[code]

[2021-06-22 16:27] #58 closed

[2021-06-22 16:27] git4rk opened #59 "Upgrade azCliVersion to 2.23.0"
Reference: https://github.com/WASdev/azure.websphere-traditional.image/pull/17/files#r628262682

[2021-06-22 16:27] #59 closed

[2021-06-22 16:27] edburns opened #60 "Resolve "Your account needs to be vetted in order to publish""
Tried to publish the hidden VM offer. Encountered this message.

![image](https://user-images.githubusercontent.com/75821/116948290-00c06480-ac4d-11eb-8373-6e54a3bed0ac.png)

Does @gcharters or @git4rk see this when they try to publish?

[2021-06-22 16:27] #60 closed

[2021-06-22 16:27] edburns opened #61 "Create Azure Marketplace Private Virtual Machine entry for tWAS images."

[2021-06-22 16:27] #61 closed

[2021-06-22 16:27] #62 closed, assigned to git4rk

[2021-06-22 16:28] edburns opened #63 "Define 3-tuples for MVP and MVP.next releases"
Consider this screengrab from the WLS offer:

![image](https://user-images.githubusercontent.com/75821/114108126-6ca6eb80-98a0-11eb-887d-fada91a88b15.png)

You can see the user is required to chose one of six 3-tuples of OS, Java, and App Server versions.  This issue asks the assignee to define a corresponding set of 3-tuples for tWAS. The assignee is further asked to define these for the MVP rele

[2021-06-22 16:28] #63 closed

[2021-06-22 16:28] edburns opened #64 "Update the ARM template for cluster to use image from CI/CD"

[2021-06-22 16:28] #64 closed

[2021-06-22 16:28] git4rk opened #65 "Update the ND image to 9.0.5.8"
tWAS 9.0.5.8 GAed and we should update the ND image to that level.

[2021-06-22 16:28] edburns opened #66 "Create Azure Marketplace Azure Application entry for tWAS cluster."
Initial creation.

Fill out marketing verbiage

Upload zip.

Test preview.

[2021-06-22 16:28] #66 closed

[2021-06-22 16:28] git4rk opened #67 "Perform entitlement check and install latest fixes during cloud-init"
* What software must exist before doing the patching/entitlement (p/e) check
* What software is dynamically installed during p/e:
* What are the inputs to p/e?
    * Hard coded?
    * Dynamic?
*   How to handle
    * Success
    * Failure

[2021-06-22 16:28] #67 closed

[2021-06-22 16:29] edburns opened #68 "Create two IBMid accounts for use by dev team"
While talking over the cloud-init and patching/entitlement-check with @majguo  it seemed appropriate that our dev team has access to two separate IBMid accounts, one that has the entitlement for WASND and one that does not.  This seems essential for R&D. What’s the best way to go about this?

[2021-06-22 16:29] #68 closed

[2021-06-22 16:29] edburns opened #69 "Research cloud-init and determine suitability for operations"
# Requirement

At a high level we must ensure that the WAS ND VM has been configured with the following properties before the ARM template deployment is complete. Exactly when in the lifecycle each property is configured is not yet determined. Here are some steps in that lifecycle.  The configuration properties are listed _in italics_.

## 1. CI/CD pipeline that creates the base image in a form th

[2021-06-22 16:29] #69 closed

[2021-06-22 16:29] git4rk opened #70 "Ensure VM is registered to RedHat satellite server to receive OS updates"

[2021-06-22 16:29] #70 closed

[2021-06-22 16:30] git4rk opened #71 "Set up CI/CD to build, test and upload the image to ObjectStore"
Also document any manual steps

[2021-06-22 16:30] #71 closed

[2021-06-22 16:30] git4rk opened #72 "Update image with latest RH and WAS versions"
- [x] Use RH 8.x
- [x] Install latest WAS 9.0.5
- [x] Parameterize WAS version, so that its easy to update in future
- [x] Use latest prereq references (like, azure ttk)
- [x] Update code due to repo name change (if needed)

[2021-06-22 16:30] #72 closed

[2021-06-22 21:24] #50 closed

[2021-06-22 21:24] #41 closed

[2021-06-22 21:28] edburns commented on #51
AB#1340258

[2021-06-22 21:28] edburns commented on #51
![image](https://user-images.githubusercontent.com/75821/123001928-4c56db00-d37f-11eb-9e77-4a73225d8211.png)

[2021-06-22 21:34] edburns opened #73 "Update Partner Center offer 2021-04-08-twas-cluster to use pinned VM disk image version instead of `latest`"
Fixed in https://github.com/WASdev/azure.websphere-traditional.cluster/commit/cce72ea46fb413c13a45c8246ad11349efcfb6f1. Need to push to **Partner Center**

[2021-06-22 21:34] edburns commented on #73
![image](https://user-images.githubusercontent.com/75821/123002618-1b2ada80-d380-11eb-9c35-626a972a2f89.png)

[2021-06-22 21:34] edburns commented on #73
@git4rk please assign this to me.

[2021-06-23 02:19] edburns commented on #65
Hello @git4rk , consider [virtualimage.properties](https://github.com/WASdev/azure.websphere-traditional.image/blob/de79c0afb725cdd760f21b587e4609bf28e88050/twas-nd/src/main/scripts/virtualimage.properties#L14).  When we run the pipeline that runs the script which imports these properties, IBM Installation Manager will get the latest available version (9.0.5.8) at that point in time.  Also, when t

[2021-06-23 17:13] edburns commented on #48
[Slack conversation](https://ibm-cloud.slack.com/archives/G010BB252NA/p1624468232002900?thread_ts=1624366629.012100&cid=G010BB252NA).

[2021-06-23 22:05] git4rk commented on #48
@majguo
**Notes:**
- Script might need to be modified to match the property names, directories, and userid switching
- Add WAS_ND_INSTALL_DIRECTORY property to IHS virtualimage.properties with the same value as DMgr
- I am attaching the scripts here as .txt file, since GitHub does not allow to attach .sh. Please rename them after downloading.

**Here are the steps to configure IHS:**
1. On IHS VM,

[2021-06-24 02:05] edburns opened #74 "Re-run pipeline for twas-nd image and update base image offer in partner center"
This issue blocks #45 .

[2021-06-24 02:08] edburns commented on #74
Please assign this to me @edburns

[2021-06-24 02:09] edburns opened #75 "Manually create zip bundle containing fix for #43 and upload to Partner Center twas-cluster offer."

[2021-06-24 02:09] edburns commented on #75
Please assign this to @edburns .

[2021-06-24 02:24] majguo commented on #48
Thanks @git4rk for your quick response, it's really helpful. Besides, I've already opened a PR to address the following note you mentioned above:

@git4rk and @edburns  Pls help review and get it merged. Once it's merged, @edburns could you pls re-run the pipeline of ihs image and update the ihs vm offer in Partner Center? Thanks.

[2021-06-24 06:41] majguo commented on #48
From Eric Covener (See details from [IBM Slack thread)](https://ibm-cloud.slack.com/archives/G010BB252NA/p1624488230011000?thread_ts=1624366629.012100&cid=G010BB252NA):

A basic pre-odrlib validation would be:
0. ps -ef|grep httpd on the webserver box shows some processes with -f conf/httpd.conf and others with -f conf/admin.conf in the cmdline
1. bottom of $IHS_INSTALL_DIRECTORY/conf/httpd.conf h

[2021-06-24 20:57] edburns commented on #73
This is now live.

[code]

[2021-06-24 20:57] #73 closed

[2021-06-24 20:59] edburns commented on #74
[Running now](https://github.com/WASdev/azure.websphere-traditional.image/actions/runs/969344854)

[2021-06-24 21:45] #51 closed

[2021-06-24 21:49] edburns commented on #74
[code]

[2021-06-24 21:52] edburns commented on #74
![image](https://user-images.githubusercontent.com/75821/123337216-e308d080-d514-11eb-871d-ed6ba3ebe3c4.png)

[2021-06-24 22:22] git4rk commented on #48
@majguo In addition to the two scripts provided above, please copy and invoke these after `configure_ihs_on_dmgr.sh` (on DMgr)
- Copy these files to the same location as `configure_ihs_on_dmgr.sh`
- Execute `configure_im.sh <nodename> <wasuser>`. This will use the other two scripts.

[pluginutil.sh.txt](https://github.com/WASdev/azure.websphere-traditional.cluster/files/6712389/pluginutil.sh.txt)

[2021-06-25 01:33] covener commented on #48
Note that Tom and I had some issues late into the afternoon where some of the oddities in pluginutil.sh seemed to cause him problems (but were OK on my cluster).
We ported out of mixed bash + python on stdin into being just a jython script, so look for an update Friday.

[2021-06-25 01:55] edburns opened #76 "Create CI/CD pipeline that creates `azure.websphere-traditional.cluster-N.N.N-arm-assembly.zip` as a build artifact"

[2021-06-25 02:43] edburns opened #77 "Re-run pipeline and push to Partner Center fix for "Add WAS_ND_INSTALL_DIRECTORY property to IHS virtualimage.properties with the same value as DMgr""

[2021-06-25 02:47] edburns opened #78 "Create labels in this issue tracker"
Hello @git4rk , can you please create labels in this issue tracker for the following kinds of issues

- Partner Center Action.
- Related to base image for `ihs`
- Related to base image for `twas-nd`.
- Related to cluster repo.
This will make it easier for us to identify what kinds of actions we need to take for the issue.

[2021-06-25 18:59] edburns opened #79 "Create ibm.biz url for correct support page"
fyi, I've received a couple of submission failures this morning:

Hello @charters I have observed that the value we currently have for the support link, now redirects to a non-support page:
[code]
I suggest we create an ibm.biz URL that redirects to the correct place, under our control.  According to bing, perhaps that is:

[2021-06-25 19:32] git4rk commented on #79
Created https://ibm.biz/tWASIBMSupport pointing to https://www.ibm.com/mysupport/s/topic/0TO500000001DQQGA2/websphere-application-server?language=en_US&productId=01t50000004uSki

[2021-06-25 20:20] edburns commented on #79
Looks great, thanks.

[2021-06-25 20:20] #79 closed

[2021-06-28 02:57] edburns commented on #76
AB#1348300

[2021-06-28 02:58] edburns commented on #76
Please assign this to @zhengchang907 . @git4rk

[2021-06-28 05:19] zhengchang907 opened #80 "Fix 'Deprovision' in base images' pipelines"
Currently the 'Deprovision' step fails to execute in both twas-nd and ihs base image pipelines.

@git4rk Can you please assign this issue to me?

[2021-06-28 09:01] zhengchang907 commented on #80
PR: https://github.com/WASdev/azure.websphere-traditional.image/pull/41

[2021-06-28 17:41] git4rk commented on #48
@majguo With regard to [my previous comment](https://github.com/WASdev/azure.websphere-traditional.cluster/issues/48#issuecomment-867992161) and [Eric's comment](https://github.com/WASdev/azure.websphere-traditional.cluster/issues/48#issuecomment-868122020):
- There is an update to configure_im.sh. Also, it needs `PROFILE_ROOT` variable to be set. This variable is currently not set in virtualimage

[2021-06-29 12:43] majguo commented on #48
@git4rk Based on scripts uploaded to this issue and the necessary tweak, I'm able to configure IHS successfully and make it work to route HTTP client request to cluster members. You can close it if no other comments.

[2021-06-29 15:59] gcharters commented on #40
I don't think there's an ideal solution, but this is the best I have at the moment:

[2021-06-29 16:20] #43 closed

[2021-06-29 16:30] edburns commented on #74
![image](https://user-images.githubusercontent.com/75821/123834785-cc2bfa80-d8d5-11eb-8c7d-4db6b0859013.png)

[2021-06-29 16:30] #74 closed

[2021-06-29 17:56] edburns commented on #75
![image](https://user-images.githubusercontent.com/75821/123845092-c76d4380-d8e1-11eb-9175-ca9cb1acbf7b.png)

[2021-06-29 20:26] edburns commented on #75
![image](https://user-images.githubusercontent.com/75821/123862729-b5e26680-d8f6-11eb-9ab5-de2a29b0e4be.png)

[2021-06-29 20:26] edburns commented on #75
[Preview link](https://portal.azure.com/#create/ibm-usa-ny-armonk-hq-6275750-ibmcloud-aiops.2021-04-08-twas-cluster-previewcluster)

[2021-06-29 20:27] edburns commented on #75
Hello @majguo , I observe this is still failing with un-entitled.

[code]

I am still investigating.

[2021-06-29 20:30] edburns commented on #75
Hello @majguo here is the `imageReference` from the version with the preview link above:

[code]

This is the latest available version of the base image.

[2021-06-29 20:34] edburns commented on #75
Here is the `osProfile`:

[code]

[2021-06-29 22:30] majguo commented on #75
@edburns I just tried the preview link with your IBMid credential, and it successfully deployed a tWAS cluster without un-entitled error:
![image](https://user-images.githubusercontent.com/10357495/123875587-8ff7a900-d96c-11eb-99ed-17e20562f142.png)

[2021-06-30 00:02] edburns commented on #56
I recently ran into this again.

We must make it so that such a cause of failure does not show up as "un-entitled".

[2021-06-30 01:16] majguo commented on #56
@edburns @git4rk  Re-open this issue to add the check against the result of `listAvailablePackages`:
* display the appropriate error message to the end user if `No packages were found` is returned, which indicates the back-end service for listing available packages is down

[2021-06-30 01:55] edburns commented on #40
Please assign this to @majguo

[2021-06-30 02:11] edburns commented on #75
![image](https://user-images.githubusercontent.com/75821/123891470-f528ab80-d926-11eb-9064-205e8bfe2a9c.png)

[2021-06-30 02:14] edburns commented on #77
This is already incorporated in the latest images.

[2021-06-30 02:14] #77 closed

[2021-06-30 02:15] edburns opened #81 "Install latest images in Partner Center including fix for #80"
https://github.com/WASdev/azure.websphere-traditional.cluster/issues/80

Also update [the base image post](https://ibm-cloud.slack.com/archives/G010BB252NA/p1625019889048000)

[2021-06-30 02:15] zhengchang907 commented on #80
Close the issue since the PR is merged

[2021-06-30 02:15] #80 closed

[2021-06-30 02:15] edburns commented on #81
Assign this to @edburns

[2021-06-30 08:22] #48 closed

[2021-06-30 16:53] edburns commented on #81
### twas-nd

https://github.com/WASdev/azure.websphere-traditional.image/actions/runs/981637863

[code]

### ihs

https://github.com/WASdev/azure.websphere-traditional.image/actions/runs/981635571

[code]

[2021-06-30 16:56] edburns commented on #81
![image](https://user-images.githubusercontent.com/75821/124001412-9a349a00-d9a2-11eb-97fc-3da0641bad19.png)

[2021-06-30 16:58] edburns commented on #81
![image](https://user-images.githubusercontent.com/75821/124001725-ec75bb00-d9a2-11eb-8eeb-97ca0d09cee4.png)

[2021-06-30 20:26] edburns commented on #81
![image](https://user-images.githubusercontent.com/75821/124026569-daeedc00-d9bf-11eb-8259-b28619c78c3f.png)

[2021-06-30 20:26] edburns commented on #81
![image](https://user-images.githubusercontent.com/75821/124026606-e510da80-d9bf-11eb-974b-0acd4166ddd3.png)

[2021-06-30 21:56] edburns commented on #81
![image](https://user-images.githubusercontent.com/75821/124036783-8bfb7380-d9cc-11eb-9468-5ed993e8afcb.png)

[2021-06-30 23:26] edburns commented on #81
![image](https://user-images.githubusercontent.com/75821/124043479-18139800-d9d9-11eb-895b-8d2d5c10c741.png)

[2021-06-30 23:28] #81 closed

[2021-06-30 23:30] edburns commented on #75
![image](https://user-images.githubusercontent.com/75821/124043700-9839fd80-d9d9-11eb-93a5-d3f1b13865c1.png)

[2021-07-01 00:57] git4rk commented on #78
@edburns Created following labels:
<img width="501" alt="image" src="https://user-images.githubusercontent.com/24283162/124049058-b279d880-d9e5-11eb-881b-229f9675f592.png">

[2021-07-01 01:48] #78 closed

[2021-07-03 21:47] majguo commented on #39
@edburns @git4rk I'll use a slider which seems a better option comparing to dropdown or text box:
![image](https://user-images.githubusercontent.com/10357495/124367605-4d471100-dc8b-11eb-9e57-2cbf6759ae1e.png)

[2021-07-03 21:57] majguo commented on #65
@git4rk The latest version of twas-nd base image 9.0.20210630 has already contains tWAS 9.0.5.8 and is referenced in the cluster offer. Pls verify and close the issue.

[2021-07-03 22:02] majguo commented on #75
Looks like it's available now, I used the twas-offer from Azure Portal and successfully created a twas cluster using Ed's IBMid credential which contains a comma, and observed that issue #43 is not reproduced.

[2021-07-03 22:04] majguo commented on #32
All of required changes have already been rolled out to the t-was cluster offer. @git4rk , pls help close the issue, thanks.

[2021-07-05 04:35] zhengchang907 commented on #76
PR: https://github.com/zhengchang907/azure.websphere-traditional.cluster/actions/runs/999902501

[2021-07-05 08:36] majguo commented on #35
@git4rk The current error message for the un-entitled IBMid is:
[code]
Pls provide the improved error message.

Besides, pls notice that only the highlighted text is customizable:
![image](https://user-images.githubusercontent.com/10357495/124441903-c8edae80-ddae-11eb-9af0-6a3a4bc3f757.png)

[2021-07-05 08:42] majguo commented on #56
@gcharters @git4rk Currently, if `listAvailablePackages` returns `No packages were found.`, the user's IBMid will be identified as *un-entitled*, which is inaccurate. As a result, I ask your help to provide the appropriate error message for this case, so that user can clearly understand the deployment failure is due to the unavailability of `listAvailablePackages` used for checking entitlement.

[2021-07-05 10:51] gcharters commented on #35
How about, "The provided IBM ID does not have entitlement to install WebSphere Application Server".

Couple of questions:
1. Can this be customized for each image (e.g. WAS ND, IHS)?  The above suggestion only works if we can customize, otherwise we shouldn't mention the product.
2. Minor suggestion and maybe we need a separate issue for it: can we use "IBM ID" (rather than IBMid) consistently as

[2021-07-05 11:00] gcharters commented on #56
@majguo is there another action after `listAvailablePackages` that acts as the entitlement check?  If so, then maybe something like this as an error message:
`No WebSphere Application Server installation packages were found.  This is likely due to a temporary issue with the installation repository.  Please try again and raise and IBM support issue if the problem persists.`

[2021-07-05 22:21] majguo commented on #56
@gcharters Yes. Below is part of output of `listAvailablePackages` for your reference:
[code]
Based on @git4rk 's response before, `ND.v90_9.0.5007` is the first entitled version which is only accessible by the entitled IBM ID. In other words, no `ND.v90_9.0.5007` is returned in the output of `ND.v90_9.0.5007` for an un-entitled IBM ID. So the next action after `listAvailablePackages` is to check

[2021-07-05 22:44] majguo opened #84 "Use "IBM ID" rather than IBMid consistently"
This requirement is from the [comment](https://github.com/WASdev/azure.websphere-traditional.cluster/issues/35#issuecomment-874015065) of #35 :

[2021-07-05 22:45] majguo commented on #35
@gcharters Thanks for your quick response.

Yes, we can. I assume error message "The provided IBM ID does not have entitlement to install WebSphere Application Server" is tailored for WAS ND. So what's your suggestion about the one for IHS?

I do like your comment to use consistent wording across product. #84 is opened to track the request.

[2021-07-06 01:28] git4rk commented on #35
@majguo Thanks for fixing the message and "IBM ID".

The message suggests customer to go to
<img width="683" alt="image" src="https://user-images.githubusercontent.com/24283162/124529035-a754ed00-ddd7-11eb-8005-f04c30d28e5d.png">
That doc does not have any information about this specific error. How can we get that updated or point customer to a different doc?

[2021-07-06 02:03] #65 closed

[2021-07-06 04:13] majguo commented on #35
@git4rk Yes, that doc is a generic one about how to use Azure Custom Script Extension with Linux VM. I don't think it can be updated for specific scripts executed using the extension, as there could be tons of custom scripts running with the extension. Instead, I'd like to suggest leveraging the error message which is controlled by our script to indicate user what's the appropriate doc he/she can

[2021-07-06 05:22] #32 closed

[2021-07-06 05:22] #75 closed

[2021-07-06 08:23] gcharters commented on #35
For an unentitled error, we have some text and a link in #40 which we could modify for this error.  @majguo is that the sort of thing you're looking for?

[2021-07-06 14:17] git4rk commented on #40
Here is the text suggested by IDD team (Pam):
This offer is Bring-Your-Own-License. To deploy this offer, you must enter your registered IBM ID and your IBM ID must have active WebSphere entitlements associated with it. If provisioning fails due to lack of entitlements, ask the primary or secondary contacts for your IBM Passport Advantage site to grant you access or follow steps at [IBM eCustomer

[2021-07-06 14:21] git4rk commented on #56
@majguo @gcharters Here is the suggested text from the IDD team (Pam):
No WebSphere Application Server installation packages were found. This is likely due to a temporary issue with the installation repository. Try again and open an IBM Support issue if the problem persists.

[2021-07-06 14:53] majguo commented on #35
@gcharters Yes, that's the sort of thing I suggested.

[2021-07-06 22:44] majguo commented on #40
Thanks @git4rk . The updated text has been applied to PR #83.

[2021-07-07 00:50] majguo opened #85 "Pre-install cifs-utils in base images"
See original request from [PR #83 review comments](https://github.com/WASdev/azure.websphere-traditional.cluster/pull/83#discussion_r664621387). Screenshot attached below:
![image](https://user-images.githubusercontent.com/10357495/124683867-a4a1e700-df00-11eb-92c1-b20b25f9df9b.png)

[2021-07-07 09:36] gcharters commented on #35
@majguo how about:
The provided IBM ID does not have entitlement to install WebSphere Application Server.  Please contact the primary or secondary contacts for your IBM Passport Advantage site to grant you access or follow steps at [IBM eCustomer Care](https://www-112.ibm.com/software/howtobuy/passportadvantage/homepage/ecarec) for further assistance.

[2021-07-07 13:24] #76 closed

[2021-07-07 13:26] #37 closed

[2021-07-07 13:26] #40 closed

[2021-07-07 13:26] #84 closed

[2021-07-08 01:10] majguo opened #86 "Update cluster offer in Partner Center to roll out the IHS configuration feature"
Hello @gcharters  Since PR about configuring IHS is merged, it's time to roll out this new feature to customers. Besides, the PR about setting up pipeline to generate zip buddle for updating cluster offer is also merged, So may I ask you to update the cluster offer in Partner Center? Here're the basic steps for your reference:
1. Refer to the description of pipeline PR to build zip buddle. @git4rk

[2021-07-12 07:21] majguo commented on #35
@gcharters Thanks @gcharters , it looks good to me. However, the hyperlink doesn't work in the plain text error message:
![image](https://user-images.githubusercontent.com/10357495/125246765-cba75100-e324-11eb-9df7-08ae7a20ef32.png)

So I will use the following one instead:

The provided IBM ID does not have entitlement to install WebSphere Application Server. Please contact the primary or seconda

[2021-07-13 12:52] git4rk commented on #39
From 2021-07-06 meeting minutes:
- Entitlement check happens in parallel. When tested with 20 nodes it failed with a PPA authentication.  Consider possibility to make one call to check entitlement for all deployments.  Jianguo to continue to investigate.
- Action: Graham Investigate the issues with listAvailablePackages issue on IBM side.  Why it's happening quite frequently and lasting for up to

[2021-07-13 12:53] git4rk commented on #56
From 2021-07-06 meeting minutes:
- listAvailablePackages returns No packages were found: related issue #39 (see above)
    - Option 1: problem with service.  Returns "No packages were found"
    - Option 2: not entitled. Returns a set of packages, but not the one we're looking for.
    - Option 3: entitled. Returns a set of packages including the one we were looking for.
- Action: Graham Investiga

[2021-07-13 16:11] edburns commented on #35
@git4rk can you please make an ibm.biz redirect link to the above and post it here?

[2021-07-13 19:32] git4rk commented on #35
@edburns @majguo @gcharters I created the short URL: https://ibm.biz/IBMidEntitlement for https://www-112.ibm.com/software/howtobuy/passportadvantage/homepage/ecarec

[2021-07-13 22:04] edburns commented on #35
@majguo when this change is made, please use this redirect url instead of the longer one.  https://ibm.biz/IBMidEntitlement.

[2021-07-16 08:29] #86 closed

[2021-07-16 08:29] majguo commented on #86
Changes of the cluster offer goes live now, closing the issue.

[2021-07-20 18:29] git4rk opened #88 "Update OS to RHEL 8.4"
- According to RedHat document, RHEL 8.3 was a minor release and not supported once RHEL 8.4 is available (https://access.redhat.com/support/policy/updates/errata)
<img width="1148" alt="image" src="https://user-images.githubusercontent.com/24283162/126375948-0f7bf82b-9c36-4bbf-9cca-cc86961705b5.png">

- We need to upgrade the OS to RHEL 8.4
- This also requires thorough testing of all functions.

[2021-07-20 19:23] #35 closed

[2021-07-20 19:23] #39 closed

[2021-07-20 19:23] #85 closed

[2021-07-21 01:59] edburns opened #89 "Refactor base image repos to avoid DRY violations"
Consider issue #88 .  This is a matter of updating the `mainTemplate.json` for the two base images to have a newer OS here:

[code]

However this value is hard-coded into the `ihs` and `twas-nd` versions of this file.  It would be better if this were update using maven resources filtering as in other offers.

This is not high priority, but the more we update the OS, the more this will be encounter

[2021-07-23 17:52] #88 closed

[2021-07-23 17:52] #89 closed

[2021-07-27 17:07] edburns opened #90 "Create GitHub Actions pipeline that calls `listAvailablePackages`. Collect data on frequency of failure."
Issue #56 reports an intermittent problem that happens during deployment of the tWAS on VMs. offer.  This issue requests standing up a GitHub actions pipeline that runs with appropriate frequency that tries to reproduce the issue.  All of the techniques to implement this issue are already understood and exercised somewhere else in this repository.  Here is one possible sketch of the implementation

[2021-07-29 01:03] majguo opened #93 "Using SSH for IHS in offer appears to have failed"
Error message:
* "message": "Destination path for SSH public keys is currently limited to its default value /home/ihsadmin/.ssh/authorized_keys due to a known issue in Linux provisioning agent."

[2021-07-29 14:20] #93 closed

[2021-08-03 16:49] git4rk commented on #56
Posted to IM Forum: https://w3.ibm.com/w3publisher/capilano-installation-manager-etc/forum#/discussion/110/imcl-listavailablepackages-cpa-fails-with-no-packages-were-found

[2021-08-04 18:08] git4rk commented on #30
@edburns Can you please document the image and cluster update process.

[2021-08-10 16:28] edburns opened #96 "Modify mainTemplate to abide by new pid requirements in Partner Center"
I suggest we fix this lazily. That is, the next time we need to update Partner Center, we fix this issue.

[2021-08-11 16:18] edburns opened #98 "Include links on Basics tab that allow feedback."
Consider this screen grab from the WebLogic on VMs offer:

![image](https://user-images.githubusercontent.com/75821/129065759-5a1329e3-163c-43ed-8ae1-1f0874d74871.png)

This issue requests we do something similar for the basics tab in the IBM offers.

[2021-08-20 08:11] majguo commented on #12
Original information: https://github.com/WASdev/azure.websphere-traditional.cluster/pull/9#discussion_r629023765

[2021-08-22 02:39] majguo commented on #96
@edburns Could you pls copy and paste the value of **Customer Usage Attribution ID** here?

[2021-08-23 17:43] edburns opened #100 "Seeking Review: Marketplace Verbiage for Liberty on ARO"
See [PR](https://github.com/WASdev/azure.liberty.aro/pull/7).

[2021-08-23 17:45] edburns commented on #100
Internal tracker https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1384345

[2021-08-23 22:22] majguo commented on #96
From Ed:

[2021-08-24 05:42] majguo opened #101 "Mount Azure file share using SMB 3.1.1"
Currently SMB 2.1 is used to mount Azure file share. Based on [this official documentation](The recommended way to mount an Azure file share on Linux is using SMB 3.1.1. By default, Azure Files requires encryption in transit, which is supported by SMB 3.0+. Azure Files also supports SMB 2.1, which doesn't support encryption in transit, but you may not mount Azure file shares with SMB 2.1 from anot

[2021-08-24 11:30] majguo opened #102 "Setup a pipeline to generate zip buddle of azure.liberty.aro for marketplace offer update"

[2021-08-25 06:01] majguo opened #103 "javacore files are generated after VM reboot"
## Description
Recently a user of tWAS cluster offer reported that javacore files are generated after restarting VMs. I tried and observed the same behavior. I don't know if it's working as designed or there is something wrong.

## Logs
* [Logs_javacore_generated_after_vm_reboot.zip](https://github.com/WASdev/azure.websphere-traditional.cluster/files/7044029/Logs_javacore_generated_after_vm_reboot

[2021-08-25 06:11] majguo commented on #103
Hi @git4rk Could you pls find someone from WebSphere team to take a look? Thanks.

[2021-08-30 03:08] majguo commented on #103
From Jarid Kvale:

[2021-08-30 03:09] majguo commented on #103
Closing the ticket based on the above conclusion from **Jarid Kvale**.

[2021-08-30 03:14] majguo commented on #103
I tested and verified that manually suppressing javacores generation works, based on the following articles:
* [PH39733: PROVIDE A SWITCH TO DISABLE JAVACORES FOR UNEXPECTED SHUTDOWNS (ibm.com)](https://www.ibm.com/support/pages/apar/PH39733)
* [Setting generic JVM arguments in WebSphere Application Server (ibm.com)](https://www.ibm.com/support/pages/setting-generic-jvm-arguments-websphere-applica

[2021-08-30 03:14] #103 closed

[2021-08-30 05:11] majguo opened #105 "Get the time various stages take for tWAS ND cluster deployment"
The deployment time includes:
- setup VM
- update tWAS
- created profile
- setup cluster
- configure IHS
- ...

[2021-08-31 16:09] edburns commented on #98
See also #33 #34.

[2021-08-31 16:52] edburns commented on #100
PR has been merged.

[2021-08-31 16:52] #100 closed

[2021-09-03 12:04] majguo commented on #105
For one deployment consisting of 1 dmgr, 1 worker node and 1 IHS, the time taken for different stages is as below:
- setup VMs: ~2 mins, 40 secs
- update tWAS & IHS (including entitlement check): ~5 mins, 10 secs
- created profile (both dmgr and custom profiles, including the time that worker node waits for dmgr server ready): ~10 mins, 43 secs
- setup cluster: ~ 28 secs
- configure IHS (only time

[2021-09-07 21:01] git4rk commented on #105
Thanks @majguo I am surprised to see that create profile takes almost 11 minutes. That probably should be investigated.

[2021-09-07 21:03] #105 closed

[2021-09-16 14:01] #30 closed

[2021-09-18 10:31] edburns commented on #98
Suggested text.

- If you encounter problems during deployment of Liberty, please report them here [Issue tracker](ibm.biz link to the appropriate issue tracker)
- If you want to interact directly with the Liberty community, join the public Gitter. [Join gitter](ibm.biz link to join the gitter)
- To get free help with Azure migration from the development team, fill out this survey. [Take survey](h

[2021-09-20 13:19] gcharters commented on #98
How about:
* If you have purchased licenses that entitle you to IBM support for Liberty, please raise a ticket [Support Link](https://www.ibm.com/mysupport/)
* If you want to interact directly with the Open Liberty community, check out the community options. [Community Support](https://openliberty.io/support/)
* If you want to ask questions about WebSphere Liberty, please use the IBM support optio

[2021-09-21 09:21] edburns commented on #98
Thanks @gcharters .  I see you have dropped "If you encounter problems during deployment of Liberty, please report them here [Issue tracker](ibm.biz link to the appropriate issue tracker)".  I feel pretty strongly that we need to give users a way to report problems with this exact offer.
Do you really want to not have that item in the list?

[2021-09-21 12:22] git4rk opened #108 "Update the video to match current UI"
This [video](https://azuremarketplace.microsoft.com/en-us/marketplace/apps/ibm-usa-ny-armonk-hq-6275750-ibmcloud-aiops.2021-04-08-twas-cluster?tab=Overview) uses old UI. Please update it.

[2021-09-21 14:23] edburns commented on #98
See https://github.com/WASdev/azure.liberty.aro/pull/21 .

[2021-09-24 03:28] majguo opened #109 "Use an appropriate size for data disk in the base images"
Currently, a `900G` data disk is used for both `twas-nd` and `ihs` images. However, the size is much bigger than required, which makes the cost of VM higher than expected. Based on suggestion from Ranjan and Graham, `25G` is the disk size used for VSI in IBM Cloud. This issue requires necessary changes so that a `25G` data disk is also used for both `twas-nd` and `ihs` images.

[2021-09-24 13:18] #109 closed

[2021-09-28 01:41] majguo opened #110 "Update the ND image to 9.0.5.9"
I found that tWAS 9.0.5.9 is available and we should update the twas-nd and ihs images to that level.

Here is the log info which demonstrated `9.0.5.9` is available now:
[code]

[2021-09-28 02:01] edburns commented on #98
We need this on tWAS also.  I suggest
- If you encounter problems during deployment of WebSphere, please report them here [Issue tracker](aka.ms link to the appropriate issue tracker)
- To use your existing IBM support contract file an issue with IBM directly [Support Link](https://www.ibm.com/mysupport/)
- To get free help with Azure migration from the development team, fill out this survey. [Tak

[2021-09-28 07:47] majguo commented on #110
Refer to [howto-update-for-was-fixpack](https://github.com/WASdev/azure.websphere-traditional.cluster/blob/master/docs/howto-update-for-was-fixpack.md) for the image and solution update.

[2021-09-28 14:23] git4rk commented on #110
- twas-nd image: https://github.com/WASdev/azure.websphere-traditional.image/actions/runs/1282665858

[2021-09-28 14:40] git4rk commented on #110
@majguo @edburns Question regarding this step:
![image](https://user-images.githubusercontent.com/24283162/135109125-bbabe3ea-f462-45a2-b657-cef2131b5380.png)

Do I need to update these? Where do I get those values from?
[code]

[2021-09-28 16:14] git4rk commented on #110
@gcharters Can you please execute the Partner Center steps 4.iii and 4.iv of https://github.com/WASdev/azure.websphere-traditional.cluster/blob/master/docs/howto-update-for-was-fixpack.md#updating-the-image
See URL details here: https://github.com/WASdev/azure.websphere-traditional.cluster/issues/110#issuecomment-929280797

[2021-09-28 22:07] majguo commented on #110
Yes. image versions in Solution's `pom.xml` must be updated as long as images are updated in the partner center. They're `Disk version` you specified in the previous step (steps 4.iii and 4.iv, search "Specify a new value for Disk version and write it down" to find where it is)

Partner center requires version of package file for the Solution bumped every time the solution is updated, this version

[2021-09-30 01:37] #98 closed

[2021-09-30 12:16] git4rk commented on #110
Graham completed the image publishing steps. Version number is `9.0.20210930`.

[2021-09-30 13:08] git4rk commented on #110
Updated version # : https://github.com/WASdev/azure.websphere-traditional.cluster/pull/114

[2021-09-30 16:15] git4rk commented on #110
step 3: completed by Graham. He also made updates to the instructions: https://github.com/WASdev/azure.websphere-traditional.cluster/pull/115
step 4: Created release https://github.com/WASdev/azure.websphere-traditional.cluster/releases/tag/1.3.25

[2021-09-30 18:05] git4rk commented on #110
Preview: https://azuremarketplace.microsoft.com/en-us/marketplace/apps/ibm-usa-ny-armonk-hq-6275750-ibmcloud-aiops.2021-04-08-twas-cluster-preview?tab=Overview&flightCodes=159d4370-8565-48a3-ba5d-7ed76f64cd8f

Failed with:

{"code":"InvalidTemplateDeployment","details":[{"code":"InvalidParameter","target":"imageReference","message":"The following list of images referenced from the deployment templ

[2021-10-01 02:04] git4rk commented on #110
We missed to click "Go Live" for the images.
After Graham did that, I was able to verify the preview.
Solution is ready for "Go Live"

[2021-10-01 14:10] git4rk commented on #110
Graham submitted for "Go Live"

[2021-10-04 02:07] git4rk commented on #110
Solution is live now.

[2021-10-04 02:09] git4rk commented on #31
@edburns Can we please get the latest usage data for this offering?

[2021-10-04 22:03] edburns opened #116 "Verify "terms of use" is correct for all offers"
# 1. Cluster offer uses standard terms. Is this correct?

# 2. Make it so "Terms of use" for all offers in Partner Center is plain text, not HTML

When a user deploys one of our offers from the Azure Marketplace, they are presented with a link to review the terms of use, as shown here.

![image](https://user-images.githubusercontent.com/75821/135930354-b5eba78e-6e97-4f16-93b3-bcb7adfb5fc3.png)

He

[2021-10-06 13:15] gcharters commented on #116
Hi @edburns do you have experience that would suggest the standard terms are not what should be being used?  The terms seem to cover the use of the Azure Cloud.  In the provisioning step, the user is asked to accept the License terms for WebSphere.  This seems to cover both bases, but I'm no expert.  If you have reason to be concerned, I can definitely look into it.

[2021-10-08 04:38] majguo commented on #110
I successfully verified deployments for both valid IBM ID and invalid IBM ID, as well as the image version:
[code]
All look good, closing the issue now.

[2021-10-14 18:50] git4rk opened #117 "Update the product name in the offering"
- Update the product name in the offering
![image](https://user-images.githubusercontent.com/24283162/137378027-a4814f0b-5473-4ea0-afaf-8a9be0150a1d.png)

- Correct term to use is `IBM WebSphere Application Server traditional`

[2021-11-05 17:27] edburns opened #120 "Update marketplace verbiage for CONTACT ME offer"

[2021-11-08 16:53] git4rk commented on #31
@edburns Can we please get the latest usage data for this offering?

[2021-11-08 16:54] git4rk opened #122 "Update the ND and IHS images to 9.0.5.10 - Dec 2021"
Ref: #110
Related issues to be fixed:
- https://github.com/WASdev/azure.websphere-traditional.cluster/issues/117
- https://github.com/WASdev/azure.websphere-traditional.cluster/issues/116
- https://github.com/WASdev/azure.websphere-traditional.cluster/issues/108
- https://github.com/WASdev/azure.websphere-traditional.cluster/issues/123
- Remove `-` from "Bring-Your-Own-License"

[2021-11-29 13:42] git4rk opened #123 "Remove dynamic cluster option from the offer"
Enabling dynamic cluster won't add a new VM. It creates a node on an existing VM.
We decided to remove this option from the offer as it causes confusion.

[2021-12-01 17:03] #123 closed

[2021-12-07 03:12] majguo opened #125 "./im_installer/userinstc: Permission denied"
When I tested to deploy VMs for `twas-nd` and `ihs` which are used for generating disk SAS URLs, the deployment failed with the following fatal error:

[code]

It needs to be resolved before updating the ND and IHS images to 9.0.5.10 (issue #122).

[2021-12-07 03:47] git4rk commented on #125
@majguo There is a regression in the IM packaging. The issue has been reported to the IM team.
Please add `chmod -R 755 *` to the script after unzipping IM files to workaround the issue.

[2021-12-08 02:49] #125 closed

[2021-12-14 06:51] majguo opened #126 "Pipeline of `azure.websphere-traditional.image` failed"
Today, I tested the pipeline of `azure.websphere-traditional.image` and found that both `ihs CICD` and `twas-nd CICD` failed:
* https://github.com/WASdev/azure.websphere-traditional.image/actions/runs/1576397878
* https://github.com/WASdev/azure.websphere-traditional.image/actions/runs/1576397846

The key error message:
[code]

[2021-12-14 20:22] #126 closed

[2021-12-21 03:00] edburns opened #128 "Update ARM template to refer to disk version `9.0.20211220`"

[2021-12-21 03:00] edburns commented on #128
Hello @git4rk  please assign this to @majguo .

[2021-12-21 03:01] #120 closed

[2021-12-22 15:04] edburns opened #130 "GitHub Actions hygiene 2021-12"
- Ensure all actions are invocable with `repository_dispatch`.
- Ensure all actions have sufficiently distinct `types` so that they only run when desired.
- Ensure all actions that run integration tests have `integration-test-all` type.

[2021-12-22 19:47] edburns commented on #130
Please add these labels:
* liberty.aro
* liberty.aks
* twas-image

[2022-01-04 15:25] #128 closed

[2022-01-05 15:28] edburns opened #131 "Consider adding VMSS support"
See [this comment](https://www.youtube.com/watch?v=Dg-p9vaOR5A&lc=UgzFj7r5IoFYoWMgxV54AaABAg) in the YouTube video for a request to add VMSS support.

[2022-01-07 22:35] edburns opened #132 "Marketplace artifacts for https://github.com/WASdev/azure.websphere-traditional.singleserver/issues/12"
https://github.com/WASdev/azure.websphere-traditional.singleserver/issues/12

[2022-01-07 22:35] edburns commented on #132
@git4rk  please assign this to me.

[2022-01-11 14:21] git4rk opened #134 "Doc changes: How to update WAS fixpack"
There are a few updates needed to  [this document](https://github.com/WASdev/azure.websphere-traditional.cluster/blob/main/docs/howto-update-for-was-fixpack.md):
1. `Updating the image` section should be update for the new CI/CI name
2. Should we have steps to deprecated older images?
![image](https://user-images.githubusercontent.com/24283162/148958609-b32383b5-c2c3-4e2e-b319-3c7e0b2e11cb.png)
3.

[2022-01-12 00:19] edburns opened #135 "Cross-repo: UI wording changes"
For all of our offers that have Azure Portal UI, ensure the following is true

- Use `IBMid` never `IBM ID`.
- Change **please report them here** to **open an issue** or **open an Azure issue**.
- Change **file an issue** to **open an issue**.

Cc: @helyarp .

[2022-01-12 00:21] edburns commented on #135
@git4rk  please apply the following labels to this issue.

- liberty.aks
- liberty.aro
- twas-singleserver

[2022-01-12 02:38] git4rk commented on #135
@edburns done.

[2022-01-20 13:54] git4rk opened #137 "Update the images and solution to tWAS 9.0.5.11 - Mar 2022"
Runbook: https://github.com/WASdev/azure.websphere-traditional.cluster/blob/main/docs/howto-update-for-was-fixpack.md

Ref: #110, #122

Related issues to be fixed:
- https://github.com/WASdev/azure.websphere-traditional.cluster/issues/117
- https://github.com/WASdev/azure.websphere-traditional.cluster/issues/116
- https://github.com/WASdev/azure.websphere-traditional.cluster/issues/108
- Remove `-

[2022-01-20 13:55] #122 closed

[2022-01-29 04:11] majguo commented on #135
Hello @edburns The recommended changes were applied to all related repos:
* https://github.com/WASdev/azure.liberty.aks/pull/24
* https://github.com/WASdev/azure.liberty.aro/pull/51
* https://github.com/WASdev/azure.websphere-traditional.cluster/pull/136
* https://github.com/WASdev/azure.websphere-traditional.singleserver/pull/16

Pls close the issue, thanks.

[2022-01-29 04:24] majguo commented on #130
Hello @edburns The recommended changes were applied to all related repos:
* https://github.com/WASdev/azure.liberty.aks/pull/14
* https://github.com/WASdev/azure.liberty.aro/pull/37
* https://github.com/WASdev/azure.websphere-traditional.cluster/pull/119
* https://github.com/WASdev/azure.websphere-traditional.singleserver/pull/7/commits/fbf20fd5a3741ccc4ab3dd5a89bcb2e53cb14ebd
* https://github.com

[2022-01-29 04:31] #135 closed

[2022-01-29 04:33] #130 closed

[2022-02-01 20:06] git4rk opened #138 "Update images (and solution) for Polkit and SAMBA CVEs"
- Update twas-nd and ihs images for CVEs:
    - CVE-2021-4034: https://access.redhat.com/security/vulnerabilities/RHSB-2022-001
    - CVE-2021-44142: https://access.redhat.com/security/cve/CVE-2021-44142
- Publish the image and solution

Runbook: https://github.com/WASdev/azure.websphere-traditional.cluster/blob/main/docs/howto-update-for-was-fixpack.md

[2022-02-09 00:25] git4rk commented on #117
Done

[2022-02-09 00:25] #117 closed

[2022-02-09 00:26] git4rk commented on #132
@edburns Is this issue still valid?

[2022-02-09 01:42] git4rk commented on #138
twas-nd CI/CD: https://github.com/WASdev/azure.websphere-traditional.image/actions/runs/1815446243
ihs CI/CD: https://github.com/WASdev/azure.websphere-traditional.image/actions/runs/1815670369

[2022-02-09 01:57] git4rk commented on #108
video was updated.

[2022-02-09 01:57] #108 closed

[2022-02-09 02:57] git4rk commented on #138
twas-cluster-image:
Disk version: 9.0.20220209

[2022-02-09 03:20] git4rk commented on #138
Solution build: https://github.com/WASdev/azure.websphere-traditional.cluster/actions/runs/1815944486

[2022-02-09 15:55] git4rk commented on #138
ND and IHS images are live now

[2022-02-09 16:03] git4rk commented on #138
Solution submitted for publishing

[2022-02-09 16:27] git4rk commented on #138
Ready to test and go live:
<img width="1115" alt="image" src="https://user-images.githubusercontent.com/24283162/153244611-d3623867-61b2-4997-a265-ce0491e1ae8d.png">

[2022-02-09 16:48] git4rk commented on #138
Tried to test using Preview, Validation failed with
[code]

<img width="1389" alt="image" src="https://user-images.githubusercontent.com/24283162/153248748-482df488-32da-420d-90d0-234cd651493a.png">

[2022-02-09 16:49] git4rk commented on #138
Wait for images to be published before testing again.

[2022-02-09 18:11] git4rk commented on #138
IHS image is published:
<img width="1101" alt="image" src="https://user-images.githubusercontent.com/24283162/153263392-d90d2162-14da-4bf3-a863-048f70157cf8.png">

ND image is published:
<img width="1109" alt="image" src="https://user-images.githubusercontent.com/24283162/153263466-5a6287e7-9c5c-4d86-b9fa-83159ce7887e.png">

[2022-02-09 18:20] git4rk commented on #138
Deploy successful using preview link:
<img width="1064" alt="image" src="https://user-images.githubusercontent.com/24283162/153264093-bedc615b-f9a4-4100-b194-422ea625f5f1.png">

Clicked "Go live"
<img width="1113" alt="image" src="https://user-images.githubusercontent.com/24283162/153264742-17c7986c-747a-4388-b123-ef0243079b3e.png">

and wait again:
<img width="769" alt="image" src="https://user-i

[2022-02-09 18:42] git4rk commented on #134
Doc updated.

[2022-02-09 18:42] #134 closed

[2022-02-10 16:32] #138 closed

[2022-02-15 18:22] edburns opened #140 "Implement support for "Evaluation License": UI changes"
Wording for UI in light of evaluation decision.

## Top level wording on Basics blade

Deploy with existing WebSphere entitlement or with evaluation license?
* Entitled (selected by default)
* Evaluation

## If Entitled is selected

Display the existing UI, including existing info box for IBMid and Password.  **Note** existing info box about BYOL, and the existing UI with the IBMid and password ar

[2022-02-15 18:24] edburns opened #141 "Implement support for "Evaluation License": ARM changes"
See #140 .  If the Evaluation is selected, do not entitlement check and do not get the iFixes.

[2022-02-23 00:53] majguo opened #142 "Doc change: twas-solution-test-cases.pdf"
The issue requests the following changes to doc "twas-solution-test-cases.pdf":
* Remove "dynamic cluster" related test cases as it's no longer supported
* Change type of doc from pdf to markdown for easy maintenance

[2022-02-24 03:31] majguo opened #144 "Support both entitlement and evaluation usages for images"
The issue is to request the necessary change to the base images (twas-base, twas-nd, ihs) so that they can support the following user scenarios from @edburns :

Besides, the existing pipelines are also required to be updated to support both scenarios.

[2022-02-26 04:29] edburns commented on #56
This issue can be closed.  If the problem resurfaces, we will open another one.  @git4rk .

[2022-02-26 04:31] edburns opened #145 "Automate twas solution test cases"
#143 does a great job of a manually executable test.  However we can and do automate exactly this sort of testing with the WebLogic on VMs offers.  This issue adds to the backlog the task of doing that.  See [this workflow](https://github.com/oracle/weblogic-azure/actions/workflows/testWlsVmCluster.yml) for an example.

[2022-02-26 04:45] edburns opened #146 "Consider using `make` to ease DRY violations in GitHub Actions workflows"
Looking at this [PR](https://github.com/WASdev/azure.websphere-traditional.image/pull/56) I can't help but notice there is some common, yet complicated, logic in the workflows regarding entitlement checks.  It might make sense to adopt the following process to ease maintenance of this logic.

1. Use a `Makefile` (or similar) to cause the various `.yml` files to be assembled such that the duplicate

[2022-02-28 01:27] #142 closed

[2022-03-02 02:23] #144 closed

[2022-03-04 18:11] #140 closed

[2022-03-04 18:11] #141 closed

[2022-03-08 18:49] edburns opened #148 "Make license UI less confusing"
# Consider the current license UI

## Entitled (selected by default)

![image](https://user-images.githubusercontent.com/75821/157301226-821c796a-2bf9-4722-896c-17eb2c3914c0.png)

## Evaluation

![image](https://user-images.githubusercontent.com/75821/157301321-44aabd15-95c5-4a82-a8b0-ba8e6dc5ea59.png)

# IBM requests this UI be changed to the following.

I will use pseudojson to describe the desi

[2022-03-09 18:31] #148 closed

[2022-03-17 15:26] git4rk commented on #137
twas-nd:
- osDiskSasUrl: https://storage199593652319.blob.core.windows.net/vhds/twasnd199593652319.vhd?st=2022-03-16T01%3A40Z&se=2022-04-16T01%3A40Z&sp=rl&sv=2018-11-09&sr=c&sig=nXh66slWtdgfj3eU9ehjKe5HtyD8VGj5qF2e2cEcU7Y%3D
- dataDiskSasUrl: https://storage199593652319.blob.core.windows.net/vhds/twasnd199593652319datadisk1.vhd?st=2022-03-16T01%3A40Z&se=2022-04-16T01%3A40Z&sp=rl&sv=2018-11-09&sr=c

[2022-03-17 16:26] git4rk commented on #137
tWAS ND Disk Version: 9.0.20220317
Submitted for publishing
<img width="1106" alt="image" src="https://user-images.githubusercontent.com/24283162/158847348-ffca0701-9114-43a4-90cd-f2ad1457da4c.png">

[2022-03-17 16:28] git4rk commented on #137
IHS Disk Version: 9.0.20220317
Submitted for publishing
<img width="1103" alt="image" src="https://user-images.githubusercontent.com/24283162/158847783-a76e54cd-0bfa-44ea-a5de-b8fbad298aa0.png">

[2022-03-17 16:31] git4rk opened #150 "Update the images and solution to tWAS 9.0.5.12 (eGA: June 7, 2022)"
Runbook: https://github.com/WASdev/azure.websphere-traditional.cluster/blob/main/docs/howto-update-for-was-fixpack.md

[2022-03-17 22:43] git4rk commented on #137
- Submitted image for Go Live

[2022-03-18 13:16] git4rk commented on #137
Solution CICD: https://github.com/WASdev/azure.websphere-traditional.cluster/actions/runs/2004275838
Submitted for publishing
<img width="1194" alt="image" src="https://user-images.githubusercontent.com/24283162/159009603-c428efd8-ce3e-4f49-8cbe-4d32f3735786.png">

[2022-03-21 23:54] git4rk commented on #137
<img width="1207" alt="image" src="https://user-images.githubusercontent.com/24283162/159381535-3932cc40-2301-4627-8690-9ed704d16ee0.png">

[2022-03-22 09:24] majguo opened #151 "Creating a custom profile and federating the profile into the deployment manager cell doesn't work in tWAS 9.0.5.11"
## Problem overview

As the twas image was upgraded to **9.0.5.11**, the twas-cluster solution offer is also being updated to reference twas image **9.0.5.11** (details pls see #137). However, based on @git4rk 's initial testing for the twas-cluster-offer [preview link](https://portal.azure.com/#create/ibm-usa-ny-armonk-hq-6275750-ibmcloud-aiops.2021-04-08-twas-cluster-previewcluster) and my follo

[2022-03-22 10:34] majguo commented on #151
I tested the following 4 use cases, which support my triage result above:
1. deploy with tWAS 9.0.5.11 + trial license:
    * no package upgrade
    * failed due to the issue documented in [# 151](https://github.com/WASdev/azure.websphere-traditional.cluster/issues/151)
1. deploy with tWAS 9.0.5.11 + entitled IBM id:
    * executed the package upgrade operation but no newer version installed as 9.

[2022-03-22 11:02] majguo commented on #151
Some references:
* [manageprofiles command](https://www.ibm.com/docs/en/was-nd/9.0.5?topic=mpdios-manageprofiles-command)
* [addNode command](https://www.ibm.com/docs/en/was-nd/9.0.5?topic=tools-addnode-command)
* [IBM WebSphere - Add (federate) a node into network deployment manager (addNode)](http://www.freekb.net/Article?id=1544)
* [PK47562: PROFILE CREATION TOOL FAILS VALIDATING -DMGRHOST AND

[2022-03-23 12:54] edburns opened #152 "Revert workaround to put federation into separate step."

[2022-03-23 13:11] git4rk commented on #151
Related APAR: https://www.ibm.com/support/pages/apar/PH44602

[2022-03-23 14:34] edburns commented on #152
See https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1504530

[2022-03-24 01:22] majguo commented on #151
Related fix in WAS: [PH44602:NullPointerException in WebSphere socket factory in 8.5.5.21 and 9.0.5.11](https://www.ibm.com/support/pages/node/6565721)

[2022-03-24 02:16] git4rk opened #153 "Yearly update of AZURE_CREDENTIAL secret (due 3/23/2023)"
- `AZURE_CREDENTIAL` secret defined in https://github.com/WASdev/azure.websphere-traditional.image/settings/secrets/actions
- This secret is valid for one year and need to be renewed.
- Expired secret will cause CI/CD Actions to fail with error: `AADSTS7000215: Invalid client secret provided.`
- Follow steps here to create and add secret: https://github.com/WASdev/azure.websphere-traditional.clust

[2022-03-24 02:29] git4rk commented on #137
- Recreated ND image: https://github.com/WASdev/azure.websphere-traditional.image/runs/5669539724?check_suite_focus=true
- Submitted for publishing
<img width="1166" alt="image" src="https://user-images.githubusercontent.com/24283162/159830028-1d642192-d7dc-4e0d-9d55-a67b0b53725b.png">

[2022-03-24 03:05] git4rk commented on #137
- Recreated IHS image: https://github.com/WASdev/azure.websphere-traditional.image/actions/runs/2031817183
- Submitted for publishing:
<img width="838" alt="image" src="https://user-images.githubusercontent.com/24283162/159833913-7de4c884-b70a-4fe5-9969-85a4ffb9db68.png">

[2022-03-24 03:21] git4rk commented on #137
Created solution package: https://github.com/WASdev/azure.websphere-traditional.cluster/actions/runs/2032049259

[2022-03-24 10:48] git4rk commented on #137
Both images submitted for Go Live

[2022-03-24 12:46] git4rk commented on #137
Submitted solution
<img width="981" alt="image" src="https://user-images.githubusercontent.com/24283162/159919192-e5659117-f377-49c7-b1fe-11c0a6ec38f3.png">

[2022-03-25 06:09] majguo opened #154 "Failed to install IHS 9.0.5.11"
## Problem description

In order to upgrade IHS base image to 9.0.5.11, a VM needs to be provisioned and installed with **IHS 9.0.5.11**. However, I observed that IHS failed to be installed due to the following errors:
[code]

## How to reproduce

Follow steps below to reproduce the issue:
[code]

## Additional info

However, pls **NOTICE** that IHS plugin and WCT can be **successfully** installed

[2022-03-25 10:09] majguo opened #155 "Enhance base image pipelines to detect installation failure and facilitate troubleshooting"
As for #154 , the current base image pipelines need to be enhanced to:
* Update package and apply iFixes after installation of twas-nd, twas-base and ihs
* Failed fast if installation failed
* Add log and dump to pipeline run for facilitating troubleshooting

[2022-03-25 11:56] #155 closed

[2022-03-25 12:52] majguo commented on #152
@edburns Pls close the issue as workaround is not yet implemented.

[2022-03-25 12:54] git4rk commented on #137
Solution preview is failing with a new error now. Cell is deployed but IHS VM fails: https://github.com/WASdev/azure.websphere-traditional.cluster/issues/154

[PR](https://github.com/WASdev/azure.websphere-traditional.image/pull/58) created to improve CI/CD error reporting: https://github.com/WASdev/azure.websphere-traditional.image/actions/runs/2039850387

ihs CICD failed due to same issue (#154)

[2022-03-25 13:06] majguo commented on #151
Fix is published, tested and verified, closing the issue now.

[2022-03-25 13:06] #151 closed

[2022-03-25 16:40] git4rk commented on #154
@majguo WAS support would like some logs after `imcl install` fails, using this command: `imcl exportinstalldata imagent.zip`. Can you please generate and send that.

[2022-03-26 09:07] majguo opened #156 "Create a guide on how to access the source VM of base image building"
When the image build CICD workflow failed, a how-to guide is needed to instruct user to access the source VM for triaging the issue, and/or collecting logs for issue reporting.

[2022-03-26 09:33] majguo commented on #154
@git4rk Here it is: [imagent.zip](https://github.com/WASdev/azure.websphere-traditional.cluster/files/8355083/imagent.zip)

[2022-03-28 14:01] #156 closed

[2022-03-28 18:26] git4rk commented on #154
@majguo WAS Support is unable to recreate the issue. They have asked to try two things (one at a time):
1. use -cPA  instead of -repositories url
2. use -masterPasswordFile in addition to -secureStorageFile

[2022-03-28 22:58] git4rk commented on #154
@majguo I tried the steps WAS support provided ^^. It is still failing. I will continue to work with them.

[2022-03-29 01:44] git4rk commented on #154
I tried few things, along with using two different IBM Ids. Install failed for ID1 but worked for ID2. Here are my findings:
1. Using `-cPA` or `-repositories https://www.ibm.com/software/repositorymanager/entitled` for `imcl install` does not make any difference.
2. Using `-masterPasswordFile` does not make any difference.
3. `imcl listAvailablePackages` output is slightly different for both IDs.

[2022-03-29 17:25] git4rk commented on #154
- There seems to be some issue with `https://www.ibm.com/software/repositorymanager/entitled` repo.
- If I use this repo (on the VM): `https://www.ibm.com/software/repositorymanager/com.ibm.websphere.IHS.v90,https://www.ibm.com/software/repositorymanager/com.ibm.java.jdk.v8` or  `http://www.ibm.com/software/repositorymanager/V9WASND` then the install works.
- It might take some time resolve the */

[2022-03-30 04:38] majguo commented on #154
@git4rk See https://github.com/WASdev/azure.websphere-traditional.image/pull/61 which addressed your question/request above. Once it's merged, the CICD pipeline should pick up changes from the branch you specified when kicking off the Workflow from the UI.

[2022-03-30 13:07] git4rk commented on #137
Round 3 of image creation:
- IHS: https://github.com/WASdev/azure.websphere-traditional.image/actions/runs/2064618654
    - osDiskSasUrl: https://storage206461865427.blob.core.windows.net/vhds/ihs206461865427.vhd?st=2022-03-29T12%3A43Z&se=2022-04-29T12%3A43Z&sp=rl&sv=2018-11-09&sr=c&sig=ioKnkKhAozMaHpHXpBnVded69pTkKpazdU2h3CxGL%2BE%3D,
    - dataDiskSasUrl: https://storage206461865427.blob.core.wi

[2022-03-30 14:05] git4rk commented on #137
- ND: https://github.com/WASdev/azure.websphere-traditional.image/actions/runs/2064904388
    - osDiskSasUrl: https://storage206490438824.blob.core.windows.net/vhds/twasnd206490438824.vhd?st=2022-03-29T13%3A45Z&se=2022-04-29T13%3A45Z&sp=rl&sv=2018-11-09&sr=c&sig=11USJcClW5XEX4I8oKjuOdgDf79cJBkt7xLWlvLg1CI%3D
    - dataDiskSasUrl: https://storage206490438824.blob.core.windows.net/vhds/twasnd2064904

[2022-03-30 18:54] git4rk commented on #137
- Published both images
- Solution CI/CD: https://github.com/WASdev/azure.websphere-traditional.cluster/actions/runs/2066805775

[2022-03-31 11:15] git4rk commented on #137
Tested preview:
- Trial
-
<img width="1343" alt="image" src="https://user-images.githubusercontent.com/24283162/161042653-e55a94be-ed39-457e-a8f4-f7bb2a3b0e72.png">

[2022-03-31 23:39] git4rk commented on #137
9.0.5.11 is now live:
<img width="1031" alt="image" src="https://user-images.githubusercontent.com/24283162/161166703-f13406c8-3d32-404f-801b-38d5eb8e60ac.png">

[2022-03-31 23:39] #137 closed

[2022-04-05 16:41] #154 closed

[2022-04-05 16:46] #132 closed

[2022-04-05 16:46] git4rk commented on #152
Closing since the workaround was not needed.

[2022-04-05 16:46] #152 closed

[2022-04-05 17:00] edburns opened #159 "Update portal UI to make it clear that by accepting the "Evaluation" license, you agree to be contacted by IBM."
- What is the field - subscription name?
- Action: Ed to identify the field so we can include it in the text

[2022-04-26 16:52] gcharters commented on #159
We'll assume "customer name" and validate in the background.

Something like:
An IBM representative may reach out to your company to follow-up on the evaluation.
Action: @gcharters  to validate with IBM legal.

[2022-05-03 16:44] edburns commented on #159
I just went through the process of creating a fresh Azure subscription with a fresh email address.  At no point was I asked for a company name or organization name.  I suggest the following text

[2022-06-17 19:28] git4rk opened #160 "Cluster: Update the images and solution to tWAS 9.0.5.13 (eGA: Aug 30, 2022)"
Runbook: https://github.com/WASdev/azure.websphere-traditional.cluster/blob/main/docs/howto-update-for-was-fixpack.md

[2022-06-17 20:43] git4rk commented on #150
- twas-nd CI/CD: https://github.com/WASdev/azure.websphere-traditional.image/runs/6942563229?check_suite_focus=true
- "Build and test" stage failed
[code]

[2022-06-18 01:33] majguo opened #161 "apiVersions Should Be Recent"
During the latest runs of image building pipeline, following errors are detected:

[code]

Details pls see:
* https://github.com/WASdev/azure.websphere-traditional.image/actions/runs/2517865061
* https://github.com/WASdev/azure.websphere-traditional.image/actions/runs/2517644329

[2022-06-19 22:13] majguo opened #162 "Entitlement check failed: no entitled version returned from `listAvailablePackages`"
Observed that the recent runs of Entitlement check workflow failed due to no entitled version `ND.v90_9.0.5007` returned from `listAvailablePackages`:

[code]

Failed pipeline:
* https://github.com/WASdev/azure.websphere-traditional.image/runs/6944801205?check_suite_focus=true
* https://github.com/majguo/azure.websphere-traditional.image/runs/6958006098?check_suite_focus=true: available packages d

[2022-06-20 15:58] git4rk commented on #150
PR to fix the API version: https://github.com/WASdev/azure.websphere-traditional.image/pull/62

[2022-06-20 15:59] #161 closed

[2022-06-20 16:06] git4rk commented on #150
Entitlement check failed. Updated ENTITLED_IBM_USER_ID and ENTITLED_IBM_USER_PWD to use wasaas id.

[2022-06-21 08:11] majguo commented on #162
It turns out that @edburns 's IBMid is no longer entitled, as @git4rk 's entitled IBMid works well for the entitlement check after replacing Ed's IBMid with Ranjan's one in WASdev/azure.websphere-traditional.image repo. Closing the issue now.

[2022-06-21 08:11] #162 closed

[2022-06-21 08:13] majguo opened #163 "Intermittent failure for pipeline of base image building"
@git4rk reported that

I do not think it failed due to entitlement issue. Can you please take a look?

[2022-06-21 14:16] git4rk commented on #150
- tWAS ND CI/CD: https://github.com/WASdev/azure.websphere-traditional.image/actions/runs/2532696066
- IHS CI/CD: https://github.com/WASdev/azure.websphere-traditional.image/actions/runs/2532702198

[2022-06-21 17:58] git4rk commented on #150
ND Image (9.0.20220621)
<img width="1192" alt="image" src="https://user-images.githubusercontent.com/24283162/174866940-cd1d29a4-f61b-408c-89e1-bb0bf1a440f7.png">

<img width="1223" alt="image" src="https://user-images.githubusercontent.com/24283162/174867237-d237592c-4457-4af0-8e7e-c8671475cb26.png">

[2022-06-22 13:50] git4rk commented on #150
- ND image is ready to go live
<img width="970" alt="image" src="https://user-images.githubusercontent.com/24283162/175045229-aede737f-dc92-49e4-af60-527548c4ef05.png">

- But, IHS image certification failed:
<img width="511" alt="image" src="https://user-images.githubusercontent.com/24283162/175045122-5b1ead96-ec04-4c3a-9055-591af049a933.png">

[code]

[2022-06-22 20:49] git4rk commented on #150
- ND image offer listing:
<img width="862" alt="image" src="https://user-images.githubusercontent.com/24283162/175132605-141884ac-86fc-4220-8081-d14f9f57e35b.png">

- IHS image offer listing:
<img width="757" alt="image" src="https://user-images.githubusercontent.com/24283162/175132700-d263a56d-0e02-4a86-8c38-ba58b02fe4ec.png">

- Updated to
<img width="482" alt="image" src="https://user-images.gi

[2022-06-23 12:50] git4rk commented on #150
IHS image: go live
<img width="905" alt="image" src="https://user-images.githubusercontent.com/24283162/175302547-305d5166-df68-4b2a-8534-fe08031a5024.png">

[2022-06-23 13:11] #163 closed

[2022-06-24 20:04] git4rk commented on #150
Submitted the solution for publishing
<img width="691" alt="image" src="https://user-images.githubusercontent.com/24283162/175659657-28c49f1b-7069-40e5-85f7-11e4f6e02f7c.png">

[2022-06-24 20:45] git4rk commented on #150
- Cluster with IHS was created successfully
- submitted to go live

[2022-06-28 14:01] git4rk commented on #150
Solution is now live

[2022-06-28 14:01] #150 closed

[2022-07-05 03:24] majguo opened #164 "Refactor `azure.websphere-traditional.singleserver` repo using Bicep"
Azure [Bicep](https://docs.microsoft.com/azure/azure-resource-manager/bicep/overview?tabs=bicep) provides **concise syntax**, **reliable type safety**, and support for code reuse. Bicep offers a first-class authoring experience for your [infrastructure-as-code](https://docs.microsoft.com/en-us/devops/deliver/what-is-infrastructure-as-code) solutions in Azure.

The issue is to request re-writing th

[2022-07-05 03:29] majguo opened #165 "Refactor `azure.websphere-traditional.cluster` repo using Bicep"
Azure [Bicep](https://docs.microsoft.com/azure/azure-resource-manager/bicep/overview?tabs=bicep) provides **concise syntax**, **reliable type safety**, and support for code reuse. Bicep offers a first-class authoring experience for your [infrastructure-as-code](https://docs.microsoft.com/en-us/devops/deliver/what-is-infrastructure-as-code) solutions in Azure.

The issue is to request re-writing th

[2022-07-05 05:02] majguo opened #166 "Bring your own vNet for `azure.websphere-traditional.singleserver` solution"
The issue is to request add support for bringing user's own existing vNet or create a new vNet with user inputs for `azure.websphere-traditional.singleserver` solution offer. See the user experience design in the new blade `Networking` from the screen shot below:

![image](https://user-images.githubusercontent.com/10357495/177253063-d2d96619-16de-48f0-bb5c-a3b13e84f654.png)

[2022-07-05 05:09] majguo opened #167 "Bring your own vNet for `azure.websphere-traditional.cluster` solution"
The issue is to request add support for bringing user's own existing vNet or create a new vNet with user inputs for `azure.websphere-traditional.cluster` solution offer. See the user experience design in the new blade `Networking` from the screen shot below:

![image](https://user-images.githubusercontent.com/10357495/179436950-0b23c9c1-0965-4cb7-b183-3bbd22abb871.png)

[2022-07-05 05:30] majguo commented on #164
Closed as it duplicates with WASdev/azure.websphere-traditional.singleserver/issues/34.

[2022-07-05 05:30] #164 closed

[2022-07-05 05:39] majguo commented on #166
Closed as it duplicates with WASdev/azure.websphere-traditional.singleserver/issues/35.

[2022-07-05 05:39] #166 closed

[2022-07-13 20:05] #165 closed

[2022-07-22 08:41] gcharters commented on #159
The following mock-up is agreed with IBM legal:
![image](https://user-images.githubusercontent.com/4426702/180400336-ee79f9e3-735c-47c4-9b33-347cc3c9c779.png)

[2022-07-27 15:39] #167 closed

[2022-07-29 04:53] majguo opened #171 "Enhance the cicd pipeline by adding integration test"
The issue is to request enhancing the existing cicd pipeline by adding the following integration test:
* User can successfully deploy the offer using the entitled IBMid
   * The admin console of twas-nd deployment manager server is accessible after a successful deployment
   * The IHS is accessible after a successful deployment
* User fails to deploy the offer using an invalid IBMid
* User can suc

[2022-09-02 11:51] git4rk opened #172 "Update the images and solution to tWAS 9.0.5.14 (eGA: Nov22, 2022)"
Runbook: https://github.com/WASdev/azure.websphere-traditional.cluster/blob/main/docs/howto-update-for-was-fixpack.md

[2022-09-02 11:52] git4rk commented on #160
tWAS ND CI/CD: https://github.com/WASdev/azure.websphere-traditional.image/actions/runs/2978841935

[2022-09-02 13:35] git4rk commented on #160
9.0.20220902

<img width="1029" alt="image" src="https://user-images.githubusercontent.com/24283162/188157644-3665d349-b8d5-4673-b454-2277196917dd.png">

[2022-09-02 13:54] git4rk commented on #160
IHS CI/CD: https://github.com/WASdev/azure.websphere-traditional.image/actions/runs/2979244564

osDiskSasUrl: https://storage297924456430.blob.core.windows.net/vhds/ihs297924456430.vhd?st=2022-09-01T13%3A37Z&se=2022-10-02T13%3A37Z&sp=rl&sv=2021-06-08&sr=c&sig=KK4WaVfldS1c4o5%2BNnSjxaXkvmrTLUovOAQlR51LDeM%3D

dataDiskSasUrl: https://storage297924456430.blob.core.windows.net/vhds/ihs297924456430data

[2022-09-02 13:57] git4rk commented on #160
9.0.20220902

<img width="1060" alt="image" src="https://user-images.githubusercontent.com/24283162/188165076-ecabdcd4-3d8e-491a-a65b-087da56e565b.png">

Submitted the image for publishing

[2022-09-02 16:28] git4rk commented on #160
ND and IHS images are submitted to go live

[2022-09-02 18:02] git4rk commented on #160
Images are live. Updated the solution files.
Packaging: https://github.com/WASdev/azure.websphere-traditional.cluster/actions/runs/2980963644

[2022-09-02 18:11] git4rk commented on #160
Solution submitted for review:
<img width="806" alt="image" src="https://user-images.githubusercontent.com/24283162/188213335-c01792dc-9539-4bb5-919d-3ebeb6429db9.png">

[2022-09-03 00:52] git4rk commented on #153
AZURE_CREDENTIAL  for https://github.com/WASdev/azure.websphere-traditional.singleserver/settings/secrets/actions was set on 9/2/2022

[2022-09-05 01:15] majguo opened #173 "Fix warning "The apiVersion 2021-09-01 was not found for the resource type: Microsoft.Storage/storageAccounts/fileServices/shares""
The following warning is observed from the log of [integration-test pipeline](https://github.com/majguo/azure.websphere-traditional.cluster/actions/runs/2975966243):

[code]

[2022-09-05 01:32] majguo opened #174 "The deployment hangs after upgrading to 9.0.5.13"
The deployment hasn't completed after 1 hour 20 mins:
![image](https://user-images.githubusercontent.com/10357495/188343178-1db73db6-85f2-43c2-b3c5-8af641248839.png)

There must be something broken for the twas-cluster offer.

[2022-09-05 01:34] majguo commented on #174
After the initial investigation, the root cause is that the return code of `curl $dmgrHostName:$dmgrPort --output - >/dev/null 2>&1` is expected to be `56`, but it's `0` after upgrading to 9.0.5.13.

[2022-09-05 05:50] majguo opened #176 "Create GitHub Action secrets needed to run new added pipeline `integration-test`"
Hello @git4rk The following GitHub Action secrets are needed to run new added pipeline `integration-test`

* AZURE_CREDENTIALS
  * Use the same value of secret `AZURE_CREDENTIALS` defined in [WASdev/azure.websphere-traditional.singleserver](https://github.com/WASdev/azure.websphere-traditional.singleserver)
* USER_NAME
  * Use `WASdev`
* VM_ADMIN_ID
  * The username used for the VM and websphere c

[2022-09-05 05:51] majguo commented on #176
Hello @git4rk Pls close the issue once you add the required secrets.

[2022-09-06 16:50] #171 closed

[2022-09-06 16:50] #174 closed

[2022-09-06 16:53] git4rk commented on #153
Added secrets to https://github.com/WASdev/azure.websphere-traditional.cluster/settings/secrets/actions

[2022-09-06 19:07] git4rk commented on #160
Preview test failed. Jianguo fixed it in this PR and also added Integration Test Workflow.
https://github.com/WASdev/azure.websphere-traditional.cluster/pull/175

Integration Test and packaging successful: https://github.com/WASdev/azure.websphere-traditional.cluster/actions/runs/3001957454

[2022-09-06 19:15] git4rk commented on #160
Submitted for publishing again:
<img width="911" alt="image" src="https://user-images.githubusercontent.com/24283162/188719916-79d1d976-98aa-4b30-b978-3a8410c4c902.png">

[2022-09-06 19:18] git4rk commented on #176
Added required secrets and ran integration test workflow successfully.

[2022-09-06 19:18] #176 closed

[2022-09-07 01:23] git4rk commented on #160
Jianguo verified the cluster solution update:
<img width="1046" alt="image" src="https://user-images.githubusercontent.com/24283162/188767956-b5c50b3d-4638-4c75-ad20-48e9fa8d4ffd.png">

Submitted for final publishing:
<img width="924" alt="image" src="https://user-images.githubusercontent.com/24283162/188768089-a2bd074e-0ef4-4cb6-ab0d-39d46f9280b3.png">

[2022-09-07 10:49] git4rk commented on #160
Cluster solution is live:
<img width="933" alt="image" src="https://user-images.githubusercontent.com/24283162/188860338-a38b1fa4-421a-466e-bf27-3505af81b8fb.png">

[2022-09-07 10:49] #160 closed

[2022-09-07 10:55] git4rk commented on #159
Done for Single server and Cluster offerings. N/A to Liberty offerings.
 <img width="868" alt="image" src="https://user-images.githubusercontent.com/24283162/188861182-6e3abfbb-1db8-43e6-9c07-bf1a1645e91f.png">

[2022-09-07 10:55] #159 closed

[2022-09-21 02:58] majguo opened #177 "Support IBM Db2 database connection"
The issue is to request add support for IBM Db2 database connection. Here is the mockup design for the feature:

![image](https://user-images.githubusercontent.com/10357495/191404494-60946ca8-f029-4563-a5bf-b914314a2911.png)

[2022-09-22 23:52] majguo opened #178 "Create GitHub Action secret needed to enable IBM DB2 database connection in the existing `integration-test` pipeline"
Hello @git4rk The following GitHub Action secret is needed to **enable Db2 support** in the existing pipeline `integration-test`:

* DB2INST1_PASSWORD
  *  Specify the respective Db2 Instance Password. See **Advanced Configuration Options** > **DB2INST1_PASSWORD** from [ibmcom/db2 - Docker Image | Docker Hub](https://hub.docker.com/r/ibmcom/db2) for more information.

Reference the following issue

[2022-09-22 23:53] majguo commented on #178
Hello @git4rk Pls close the issue once you add the required secret.

[2022-09-26 16:52] git4rk commented on #178
secret created.

[2022-09-26 16:52] #178 closed

[2022-09-26 16:55] #177 closed

[2022-10-24 08:12] majguo opened #182 "Support Oracle database connection"
The issue is similar to #177 but requesting add support for Oracle database connection. Here is the mockup design for the feature:

![image](https://user-images.githubusercontent.com/10357495/197479112-30efd9b6-281a-49b0-9069-91bfcb778b20.png)

[2022-10-25 02:45] majguo opened #183 "Create GitHub Action secret needed to enable Oracle database connection in the existing `integration-test` pipeline"
Hello @git4rk The following **additional** GitHub Action secret is needed to **enable Oracle database connection** in the existing pipeline `integration-test`:

* ORACLE_DB_PASSWORD
  *  Specify the password for testing account (`testuser`) of Oracle database server.

Reference the following issue for the other GitHub Action secrets required for pipeline `integration-test`:
* #178
* #176

[2022-10-25 02:46] majguo commented on #183
Hello @git4rk Pls close the issue once you add the required secret.

[2022-11-01 20:05] #182 closed

[2022-11-01 22:29] git4rk commented on #183
secret created

[2022-11-01 22:29] #183 closed

[2022-11-23 02:17] git4rk commented on #153
Added same ^^^ secret to https://github.com/WASdev/azure.websphere-traditional.image/settings/secrets/actions

[2022-11-24 03:10] majguo opened #185 "Support Microsoft SQL Server database connection"
The issue is similar to #177 but requesting add support for Microsoft SQL Server database connection. Here is the mockup design for the feature:

![image](https://user-images.githubusercontent.com/10357495/203685551-6b8d896f-3a38-41f8-a021-3a643867574a.png)

[2022-11-24 03:12] majguo opened #186 "Support PostgreSQL database connection"
The issue is similar to #177 but requesting add support for PostgreSQL database connection. Here is the mockup design for the feature:

![image](https://user-images.githubusercontent.com/10357495/203685731-d98b3326-9374-4673-80c8-f3dc91fdc090.png)

[2022-11-24 03:15] majguo opened #187 "Create GitHub Action secret needed to enable Microsoft SQL Server database connection in the existing `integration-test` pipeline"
Hello @git4rk The following **additional** GitHub Action secrets are needed to **enable Microsoft SQL Server database connection** in the existing pipeline `integration-test`:

* **DATABASE_PASSWORD**
  *  Specify the password for testing account (`testuser`) of Microsoft SQL Server database server.
  * **Note**: this password is unified for all supported database types: IBM DB2, Oracle and Micros

[2022-11-24 03:15] majguo commented on #187
Hello @git4rk Pls close the issue once you add the new required secret and remove the deprecated ones.

[2022-11-29 19:06] git4rk commented on #172
- ND CI/CD: https://github.com/WASdev/azure.websphere-traditional.image/actions/runs/3576843516
- osDiskSasUrl: https://storage357684351629.blob.core.windows.net/vhds/twasnd357684351629.vhd?st=2022-11-28T18%3A57Z&se=2022-12-29T18%3A57Z&sp=rl&sv=2021-06-08&sr=c&sig=A8dyU2emh5dAYubYH00cc5B9YaA8b59XPi3aT6lkn%2Bs%3D
- dataDiskSasUrl: https://storage357684351629.blob.core.windows.net/vhds/twasnd3576843

[2022-11-29 23:15] git4rk commented on #172
- Submitted ND image to go live.
- IHS CI/CD is failing: https://github.com/WASdev/azure.websphere-traditional.image/actions/runs/3577771658

[2022-11-30 01:20] majguo commented on #186
Close per the following comments from IBM:

[2022-11-30 01:20] #186 closed

[2022-11-30 02:33] git4rk commented on #172
- IHS CI/CD: https://github.com/WASdev/azure.websphere-traditional.image/actions/runs/3579124029
- osDiskSasUrl: https://storage357912402935.blob.core.windows.net/vhds/ihs357912402935.vhd?st=2022-11-29T01%3A20Z&se=2022-12-30T01%3A20Z&sp=rl&sv=2021-06-08&sr=c&sig=3aidgXhfK1hpLnX/mRQ%2Bv1QUfv1585V5h2NRBfLEZ4I%3D
- dataDiskSasUrl: https://storage357912402935.blob.core.windows.net/vhds/ihs357912402935

[2022-11-30 02:36] git4rk commented on #172
- ND image is live now
- Submitted IHS image for publishing

[2022-11-30 02:54] git4rk commented on #187
Done.

[2022-11-30 02:54] #187 closed

[2022-11-30 02:57] #185 closed

[2022-11-30 18:49] git4rk opened #190 "Update the images and solution to tWAS 9.0.5.15 (eGA: Apr 4, 2023)"
Runbook: https://github.com/WASdev/azure.websphere-traditional.cluster/blob/main/docs/howto-update-for-was-fixpack.md

[2022-11-30 18:53] git4rk commented on #172
- New version: 1.3.41
- PR: https://github.com/WASdev/azure.websphere-traditional.cluster/pull/189
- CI/CD: https://github.com/WASdev/azure.websphere-traditional.cluster/actions/runs/3586187677
- Submitted for publishing
<img width="982" alt="image" src="https://user-images.githubusercontent.com/24283162/204884065-adce370b-11de-49d6-b864-7be6e8905c00.png">

[2022-11-30 19:59] git4rk commented on #172
Cluster preview tested
<img width="978" alt="image" src="https://user-images.githubusercontent.com/24283162/204896342-830d80f3-f5df-4a49-aae5-5166d7575c8e.png">

[2022-11-30 20:53] git4rk commented on #172
Solution is live now:
<img width="815" alt="image" src="https://user-images.githubusercontent.com/24283162/204905727-037c1616-3cab-45ae-bf7e-c8a5febba62d.png">

[2022-11-30 20:53] #172 closed